.primary {
  background-color: var(--pendeza-primary);
}

.primary.lighten-1 {
  background-color: var(--pendeza-primary-lighten-1);
}

.primary.lighten-2 {
  background-color: var(--pendeza-primary-lighten-2);
}

.primary.lighten-3 {
  background-color: var(--pendeza-primary-lighten-3);
}

.primary.lighten-4 {
  background-color: var(--pendeza-primary-lighten-4);
}

.primary.darken-1 {
  background-color: var(--pendeza-primary-darken-1);
}

.primary.darken-2 {
  background-color: var(--pendeza-primary-darken-2);
}

.primary.darken-3 {
  background-color: var(--pendeza-primary-darken-3);
}

.primary.darken-4 {
  background-color: var(--pendeza-primary-darken-4);
}

.secondary {
  background-color: var(--pendeza-secondary);
}

.secondary.lighten-1 {
  background-color: var(--pendeza-secondary-lighten-1);
}

.secondary.lighten-2 {
  background-color: var(--pendeza-secondary-lighten-2);
}

.secondary.lighten-3 {
  background-color: var(--pendeza-secondary-lighten-3);
}

.secondary.lighten-4 {
  background-color: var(--pendeza-secondary-lighten-4);
}

.secondary.darken-1 {
  background-color: var(--pendeza-secondary-darken-1);
}

.secondary.darken-2 {
  background-color: var(--pendeza-secondary-darken-2);
}

.secondary.darken-3 {
  background-color: var(--pendeza-secondary-darken-3);
}

.secondary.darken-4 {
  background-color: var(--pendeza-secondary-darken-4);
}

.success {
  background-color: var(--pendeza-success);
}

.success.lighten-1 {
  background-color: var(--pendeza-success-lighten-1);
}

.success.lighten-2 {
  background-color: var(--pendeza-success-lighten-2);
}

.success.lighten-3 {
  background-color: var(--pendeza-success-lighten-3);
}

.success.lighten-4 {
  background-color: var(--pendeza-success-lighten-4);
}

.success.darken-1 {
  background-color: var(--pendeza-success-darken-1);
}

.success.darken-2 {
  background-color: var(--pendeza-success-darken-2);
}

.success.darken-3 {
  background-color: var(--pendeza-success-darken-3);
}

.success.darken-4 {
  background-color: var(--pendeza-success-darken-4);
}

.danger {
  background-color: var(--pendeza-danger);
}

.danger.lighten-1 {
  background-color: var(--pendeza-danger-lighten-1);
}

.danger.lighten-2 {
  background-color: var(--pendeza-danger-lighten-2);
}

.danger.lighten-3 {
  background-color: var(--pendeza-danger-lighten-3);
}

.danger.lighten-4 {
  background-color: var(--pendeza-danger-lighten-4);
}

.danger.darken-1 {
  background-color: var(--pendeza-danger-darken-1);
}

.danger.darken-2 {
  background-color: var(--pendeza-danger-darken-2);
}

.danger.darken-3 {
  background-color: var(--pendeza-danger-darken-3);
}

.danger.darken-4 {
  background-color: var(--pendeza-danger-darken-4);
}

.warning {
  background-color: var(--pendeza-warning);
}

.warning.lighten-1 {
  background-color: var(--pendeza-warning-lighten-1);
}

.warning.lighten-2 {
  background-color: var(--pendeza-warning-lighten-2);
}

.warning.lighten-3 {
  background-color: var(--pendeza-warning-lighten-3);
}

.warning.lighten-4 {
  background-color: var(--pendeza-warning-lighten-4);
}

.warning.darken-1 {
  background-color: var(--pendeza-warning-darken-1);
}

.warning.darken-2 {
  background-color: var(--pendeza-warning-darken-2);
}

.warning.darken-3 {
  background-color: var(--pendeza-warning-darken-3);
}

.warning.darken-4 {
  background-color: var(--pendeza-warning-darken-4);
}

.muted {
  background-color: var(--pendeza-muted);
}

.muted.lighten-1 {
  background-color: var(--pendeza-muted-lighten-1);
}

.muted.lighten-2 {
  background-color: var(--pendeza-muted-lighten-2);
}

.muted.lighten-3 {
  background-color: var(--pendeza-muted-lighten-3);
}

.muted.lighten-4 {
  background-color: var(--pendeza-muted-lighten-4);
}

.muted.darken-1 {
  background-color: var(--pendeza-muted-darken-1);
}

.muted.darken-2 {
  background-color: var(--pendeza-muted-darken-2);
}

.muted.darken-3 {
  background-color: var(--pendeza-muted-darken-3);
}

.muted.darken-4 {
  background-color: var(--pendeza-muted-darken-4);
}

.dark {
  background-color: var(--pendeza-dark);
}

.dark.lighten-1 {
  background-color: var(--pendeza-dark-lighten-1);
}

.dark.lighten-2 {
  background-color: var(--pendeza-dark-lighten-2);
}

.dark.lighten-3 {
  background-color: var(--pendeza-dark-lighten-3);
}

.dark.lighten-4 {
  background-color: var(--pendeza-dark-lighten-4);
}

.dark.darken-1 {
  background-color: var(--pendeza-dark-darken-1);
}

.dark.darken-2 {
  background-color: var(--pendeza-dark-darken-2);
}

.dark.darken-3 {
  background-color: var(--pendeza-dark-darken-3);
}

.dark.darken-4 {
  background-color: var(--pendeza-dark-darken-4);
}

.light {
  background-color: var(--pendeza-light);
}

.light.lighten-1 {
  background-color: var(--pendeza-light-lighten-1);
}

.light.lighten-2 {
  background-color: var(--pendeza-light-lighten-2);
}

.light.lighten-3 {
  background-color: var(--pendeza-light-lighten-3);
}

.light.lighten-4 {
  background-color: var(--pendeza-light-lighten-4);
}

.light.darken-1 {
  background-color: var(--pendeza-light-darken-1);
}

.light.darken-2 {
  background-color: var(--pendeza-light-darken-2);
}

.light.darken-3 {
  background-color: var(--pendeza-light-darken-3);
}

.light.darken-4 {
  background-color: var(--pendeza-light-darken-4);
}

.blue {
  background-color: var(--pendeza-blue);
}

.blue.lighten-1 {
  background-color: var(--pendeza-blue-lighten-1);
}

.blue.lighten-2 {
  background-color: var(--pendeza-blue-lighten-2);
}

.blue.lighten-3 {
  background-color: var(--pendeza-blue-lighten-3);
}

.blue.lighten-4 {
  background-color: var(--pendeza-blue-lighten-4);
}

.blue.darken-1 {
  background-color: var(--pendeza-blue-darken-1);
}

.blue.darken-2 {
  background-color: var(--pendeza-blue-darken-2);
}

.blue.darken-3 {
  background-color: var(--pendeza-blue-darken-3);
}

.blue.darken-4 {
  background-color: var(--pendeza-blue-darken-4);
}

.green {
  background-color: var(--pendeza-green);
}

.green.lighten-1 {
  background-color: var(--pendeza-green-lighten-1);
}

.green.lighten-2 {
  background-color: var(--pendeza-green-lighten-2);
}

.green.lighten-3 {
  background-color: var(--pendeza-green-lighten-3);
}

.green.lighten-4 {
  background-color: var(--pendeza-green-lighten-4);
}

.green.darken-1 {
  background-color: var(--pendeza-green-darken-1);
}

.green.darken-2 {
  background-color: var(--pendeza-green-darken-2);
}

.green.darken-3 {
  background-color: var(--pendeza-green-darken-3);
}

.green.darken-4 {
  background-color: var(--pendeza-green-darken-4);
}

.yellow {
  background-color: var(--pendeza-yellow);
}

.yellow.lighten-1 {
  background-color: var(--pendeza-yellow-lighten-1);
}

.yellow.lighten-2 {
  background-color: var(--pendeza-yellow-lighten-2);
}

.yellow.lighten-3 {
  background-color: var(--pendeza-yellow-lighten-3);
}

.yellow.lighten-4 {
  background-color: var(--pendeza-yellow-lighten-4);
}

.yellow.darken-1 {
  background-color: var(--pendeza-yellow-darken-1);
}

.yellow.darken-2 {
  background-color: var(--pendeza-yellow-darken-2);
}

.yellow.darken-3 {
  background-color: var(--pendeza-yellow-darken-3);
}

.yellow.darken-4 {
  background-color: var(--pendeza-yellow-darken-4);
}

.orange {
  background-color: var(--pendeza-orange);
}

.orange.lighten-1 {
  background-color: var(--pendeza-orange-lighten-1);
}

.orange.lighten-2 {
  background-color: var(--pendeza-orange-lighten-2);
}

.orange.lighten-3 {
  background-color: var(--pendeza-orange-lighten-3);
}

.orange.lighten-4 {
  background-color: var(--pendeza-orange-lighten-4);
}

.orange.darken-1 {
  background-color: var(--pendeza-orange-darken-1);
}

.orange.darken-2 {
  background-color: var(--pendeza-orange-darken-2);
}

.orange.darken-3 {
  background-color: var(--pendeza-orange-darken-3);
}

.orange.darken-4 {
  background-color: var(--pendeza-orange-darken-4);
}

.pink {
  background-color: var(--pendeza-pink);
}

.pink.lighten-1 {
  background-color: var(--pendeza-pink-lighten-1);
}

.pink.lighten-2 {
  background-color: var(--pendeza-pink-lighten-2);
}

.pink.lighten-3 {
  background-color: var(--pendeza-pink-lighten-3);
}

.pink.lighten-4 {
  background-color: var(--pendeza-pink-lighten-4);
}

.pink.darken-1 {
  background-color: var(--pendeza-pink-darken-1);
}

.pink.darken-2 {
  background-color: var(--pendeza-pink-darken-2);
}

.pink.darken-3 {
  background-color: var(--pendeza-pink-darken-3);
}

.pink.darken-4 {
  background-color: var(--pendeza-pink-darken-4);
}

.red {
  background-color: var(--pendeza-red);
}

.red.lighten-1 {
  background-color: var(--pendeza-red-lighten-1);
}

.red.lighten-2 {
  background-color: var(--pendeza-red-lighten-2);
}

.red.lighten-3 {
  background-color: var(--pendeza-red-lighten-3);
}

.red.lighten-4 {
  background-color: var(--pendeza-red-lighten-4);
}

.red.darken-1 {
  background-color: var(--pendeza-red-darken-1);
}

.red.darken-2 {
  background-color: var(--pendeza-red-darken-2);
}

.red.darken-3 {
  background-color: var(--pendeza-red-darken-3);
}

.red.darken-4 {
  background-color: var(--pendeza-red-darken-4);
}

.purple {
  background-color: var(--pendeza-purple);
}

.purple.lighten-1 {
  background-color: var(--pendeza-purple-lighten-1);
}

.purple.lighten-2 {
  background-color: var(--pendeza-purple-lighten-2);
}

.purple.lighten-3 {
  background-color: var(--pendeza-purple-lighten-3);
}

.purple.lighten-4 {
  background-color: var(--pendeza-purple-lighten-4);
}

.purple.darken-1 {
  background-color: var(--pendeza-purple-darken-1);
}

.purple.darken-2 {
  background-color: var(--pendeza-purple-darken-2);
}

.purple.darken-3 {
  background-color: var(--pendeza-purple-darken-3);
}

.purple.darken-4 {
  background-color: var(--pendeza-purple-darken-4);
}

.teal {
  background-color: var(--pendeza-teal);
}

.teal.lighten-1 {
  background-color: var(--pendeza-teal-lighten-1);
}

.teal.lighten-2 {
  background-color: var(--pendeza-teal-lighten-2);
}

.teal.lighten-3 {
  background-color: var(--pendeza-teal-lighten-3);
}

.teal.lighten-4 {
  background-color: var(--pendeza-teal-lighten-4);
}

.teal.darken-1 {
  background-color: var(--pendeza-teal-darken-1);
}

.teal.darken-2 {
  background-color: var(--pendeza-teal-darken-2);
}

.teal.darken-3 {
  background-color: var(--pendeza-teal-darken-3);
}

.teal.darken-4 {
  background-color: var(--pendeza-teal-darken-4);
}

.indigo {
  background-color: var(--pendeza-indigo);
}

.indigo.lighten-1 {
  background-color: var(--pendeza-indigo-lighten-1);
}

.indigo.lighten-2 {
  background-color: var(--pendeza-indigo-lighten-2);
}

.indigo.lighten-3 {
  background-color: var(--pendeza-indigo-lighten-3);
}

.indigo.lighten-4 {
  background-color: var(--pendeza-indigo-lighten-4);
}

.indigo.darken-1 {
  background-color: var(--pendeza-indigo-darken-1);
}

.indigo.darken-2 {
  background-color: var(--pendeza-indigo-darken-2);
}

.indigo.darken-3 {
  background-color: var(--pendeza-indigo-darken-3);
}

.indigo.darken-4 {
  background-color: var(--pendeza-indigo-darken-4);
}

.brown {
  background-color: var(--pendeza-brown);
}

.brown.lighten-1 {
  background-color: var(--pendeza-brown-lighten-1);
}

.brown.lighten-2 {
  background-color: var(--pendeza-brown-lighten-2);
}

.brown.lighten-3 {
  background-color: var(--pendeza-brown-lighten-3);
}

.brown.lighten-4 {
  background-color: var(--pendeza-brown-lighten-4);
}

.brown.darken-1 {
  background-color: var(--pendeza-brown-darken-1);
}

.brown.darken-2 {
  background-color: var(--pendeza-brown-darken-2);
}

.brown.darken-3 {
  background-color: var(--pendeza-brown-darken-3);
}

.brown.darken-4 {
  background-color: var(--pendeza-brown-darken-4);
}

.violet {
  background-color: var(--pendeza-violet);
}

.violet.lighten-1 {
  background-color: var(--pendeza-violet-lighten-1);
}

.violet.lighten-2 {
  background-color: var(--pendeza-violet-lighten-2);
}

.violet.lighten-3 {
  background-color: var(--pendeza-violet-lighten-3);
}

.violet.lighten-4 {
  background-color: var(--pendeza-violet-lighten-4);
}

.violet.darken-1 {
  background-color: var(--pendeza-violet-darken-1);
}

.violet.darken-2 {
  background-color: var(--pendeza-violet-darken-2);
}

.violet.darken-3 {
  background-color: var(--pendeza-violet-darken-3);
}

.violet.darken-4 {
  background-color: var(--pendeza-violet-darken-4);
}

.grey {
  background-color: var(--pendeza-grey);
}

.grey.lighten-1 {
  background-color: var(--pendeza-grey-lighten-1);
}

.grey.lighten-2 {
  background-color: var(--pendeza-grey-lighten-2);
}

.grey.lighten-3 {
  background-color: var(--pendeza-grey-lighten-3);
}

.grey.lighten-4 {
  background-color: var(--pendeza-grey-lighten-4);
}

.grey.darken-1 {
  background-color: var(--pendeza-grey-darken-1);
}

.grey.darken-2 {
  background-color: var(--pendeza-grey-darken-2);
}

.grey.darken-3 {
  background-color: var(--pendeza-grey-darken-3);
}

.grey.darken-4 {
  background-color: var(--pendeza-grey-darken-4);
}

.black {
  background-color: var(--pendeza-black);
}

.black.lighten-1 {
  background-color: var(--pendeza-black-lighten-1);
}

.black.lighten-2 {
  background-color: var(--pendeza-black-lighten-2);
}

.black.lighten-3 {
  background-color: var(--pendeza-black-lighten-3);
}

.black.lighten-4 {
  background-color: var(--pendeza-black-lighten-4);
}

.black.darken-1 {
  background-color: var(--pendeza-black-darken-1);
}

.black.darken-2 {
  background-color: var(--pendeza-black-darken-2);
}

.black.darken-3 {
  background-color: var(--pendeza-black-darken-3);
}

.black.darken-4 {
  background-color: var(--pendeza-black-darken-4);
}

.primary\:hover:hover {
  background-color: var(--pendeza-primary);
}

.primary\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-primary-lighten-1);
}

.primary\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-primary-lighten-2);
}

.primary\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-primary-lighten-3);
}

.primary\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-primary-lighten-4);
}

.primary\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-primary-darken-1);
}

.primary\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-primary-darken-2);
}

.primary\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-primary-darken-3);
}

.primary\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-primary-darken-4);
}

.secondary\:hover:hover {
  background-color: var(--pendeza-secondary);
}

.secondary\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-secondary-lighten-1);
}

.secondary\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-secondary-lighten-2);
}

.secondary\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-secondary-lighten-3);
}

.secondary\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-secondary-lighten-4);
}

.secondary\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-secondary-darken-1);
}

.secondary\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-secondary-darken-2);
}

.secondary\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-secondary-darken-3);
}

.secondary\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-secondary-darken-4);
}

.success\:hover:hover {
  background-color: var(--pendeza-success);
}

.success\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-success-lighten-1);
}

.success\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-success-lighten-2);
}

.success\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-success-lighten-3);
}

.success\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-success-lighten-4);
}

.success\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-success-darken-1);
}

.success\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-success-darken-2);
}

.success\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-success-darken-3);
}

.success\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-success-darken-4);
}

.danger\:hover:hover {
  background-color: var(--pendeza-danger);
}

.danger\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-danger-lighten-1);
}

.danger\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-danger-lighten-2);
}

.danger\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-danger-lighten-3);
}

.danger\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-danger-lighten-4);
}

.danger\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-danger-darken-1);
}

.danger\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-danger-darken-2);
}

.danger\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-danger-darken-3);
}

.danger\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-danger-darken-4);
}

.warning\:hover:hover {
  background-color: var(--pendeza-warning);
}

.warning\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-warning-lighten-1);
}

.warning\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-warning-lighten-2);
}

.warning\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-warning-lighten-3);
}

.warning\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-warning-lighten-4);
}

.warning\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-warning-darken-1);
}

.warning\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-warning-darken-2);
}

.warning\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-warning-darken-3);
}

.warning\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-warning-darken-4);
}

.muted\:hover:hover {
  background-color: var(--pendeza-muted);
}

.muted\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-muted-lighten-1);
}

.muted\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-muted-lighten-2);
}

.muted\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-muted-lighten-3);
}

.muted\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-muted-lighten-4);
}

.muted\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-muted-darken-1);
}

.muted\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-muted-darken-2);
}

.muted\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-muted-darken-3);
}

.muted\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-muted-darken-4);
}

.dark\:hover:hover {
  background-color: var(--pendeza-dark);
}

.dark\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-dark-lighten-1);
}

.dark\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-dark-lighten-2);
}

.dark\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-dark-lighten-3);
}

.dark\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-dark-lighten-4);
}

.dark\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-dark-darken-1);
}

.dark\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-dark-darken-2);
}

.dark\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-dark-darken-3);
}

.dark\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-dark-darken-4);
}

.light\:hover:hover {
  background-color: var(--pendeza-light);
}

.light\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-light-lighten-1);
}

.light\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-light-lighten-2);
}

.light\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-light-lighten-3);
}

.light\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-light-lighten-4);
}

.light\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-light-darken-1);
}

.light\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-light-darken-2);
}

.light\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-light-darken-3);
}

.light\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-light-darken-4);
}

.blue\:hover:hover {
  background-color: var(--pendeza-blue);
}

.blue\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-blue-lighten-1);
}

.blue\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-blue-lighten-2);
}

.blue\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-blue-lighten-3);
}

.blue\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-blue-lighten-4);
}

.blue\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-blue-darken-1);
}

.blue\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-blue-darken-2);
}

.blue\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-blue-darken-3);
}

.blue\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-blue-darken-4);
}

.green\:hover:hover {
  background-color: var(--pendeza-green);
}

.green\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-green-lighten-1);
}

.green\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-green-lighten-2);
}

.green\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-green-lighten-3);
}

.green\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-green-lighten-4);
}

.green\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-green-darken-1);
}

.green\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-green-darken-2);
}

.green\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-green-darken-3);
}

.green\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-green-darken-4);
}

.yellow\:hover:hover {
  background-color: var(--pendeza-yellow);
}

.yellow\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-yellow-lighten-1);
}

.yellow\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-yellow-lighten-2);
}

.yellow\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-yellow-lighten-3);
}

.yellow\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-yellow-lighten-4);
}

.yellow\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-yellow-darken-1);
}

.yellow\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-yellow-darken-2);
}

.yellow\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-yellow-darken-3);
}

.yellow\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-yellow-darken-4);
}

.orange\:hover:hover {
  background-color: var(--pendeza-orange);
}

.orange\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-orange-lighten-1);
}

.orange\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-orange-lighten-2);
}

.orange\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-orange-lighten-3);
}

.orange\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-orange-lighten-4);
}

.orange\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-orange-darken-1);
}

.orange\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-orange-darken-2);
}

.orange\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-orange-darken-3);
}

.orange\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-orange-darken-4);
}

.pink\:hover:hover {
  background-color: var(--pendeza-pink);
}

.pink\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-pink-lighten-1);
}

.pink\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-pink-lighten-2);
}

.pink\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-pink-lighten-3);
}

.pink\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-pink-lighten-4);
}

.pink\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-pink-darken-1);
}

.pink\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-pink-darken-2);
}

.pink\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-pink-darken-3);
}

.pink\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-pink-darken-4);
}

.red\:hover:hover {
  background-color: var(--pendeza-red);
}

.red\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-red-lighten-1);
}

.red\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-red-lighten-2);
}

.red\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-red-lighten-3);
}

.red\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-red-lighten-4);
}

.red\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-red-darken-1);
}

.red\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-red-darken-2);
}

.red\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-red-darken-3);
}

.red\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-red-darken-4);
}

.purple\:hover:hover {
  background-color: var(--pendeza-purple);
}

.purple\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-purple-lighten-1);
}

.purple\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-purple-lighten-2);
}

.purple\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-purple-lighten-3);
}

.purple\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-purple-lighten-4);
}

.purple\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-purple-darken-1);
}

.purple\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-purple-darken-2);
}

.purple\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-purple-darken-3);
}

.purple\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-purple-darken-4);
}

.teal\:hover:hover {
  background-color: var(--pendeza-teal);
}

.teal\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-teal-lighten-1);
}

.teal\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-teal-lighten-2);
}

.teal\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-teal-lighten-3);
}

.teal\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-teal-lighten-4);
}

.teal\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-teal-darken-1);
}

.teal\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-teal-darken-2);
}

.teal\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-teal-darken-3);
}

.teal\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-teal-darken-4);
}

.indigo\:hover:hover {
  background-color: var(--pendeza-indigo);
}

.indigo\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-indigo-lighten-1);
}

.indigo\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-indigo-lighten-2);
}

.indigo\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-indigo-lighten-3);
}

.indigo\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-indigo-lighten-4);
}

.indigo\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-indigo-darken-1);
}

.indigo\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-indigo-darken-2);
}

.indigo-\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-indigo-darken-3);
}

.indigo\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-indigo-darken-4);
}

.brown\:hover:hover {
  background-color: var(--pendeza-brown);
}

.brown\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-brown-lighten-1);
}

.brown\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-brown-lighten-2);
}

.brown\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-brown-lighten-3);
}

.brown\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-brown-lighten-4);
}

.brown\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-brown-darken-1);
}

.brown\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-brown-darken-2);
}

.brown\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-brown-darken-3);
}

.brown\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-brown-darken-4);
}

.violet\:hover:hover:hover:hover {
  background-color: var(--pendeza-violet);
}

.violet\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-violet-lighten-1);
}

.violet\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-violet-lighten-2);
}

.violet\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-violet-lighten-3);
}

.violet\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-violet-lighten-4);
}

.violet\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-violet-darken-1);
}

.violet\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-violet-darken-2);
}

.violet\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-violet-darken-3);
}

.violet\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-violet-darken-4);
}

.grey\:hover:hover {
  background-color: var(--pendeza-grey);
}

.grey\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-grey-lighten-1);
}

.grey\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-grey-lighten-2);
}

.grey\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-grey-lighten-3);
}

.grey\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-grey-lighten-4);
}

.grey\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-grey-darken-1);
}

.grey\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-grey-darken-2);
}

.grey\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-grey-darken-3);
}

.grey\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-grey-darken-4);
}

.black\:hover:hover {
  background-color: var(--pendeza-black);
}

.black\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-black-lighten-1);
}

.black\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-black-lighten-2);
}

.black\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-black-lighten-3);
}

.black\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-black-lighten-4);
}

.black\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-black-darken-1);
}

.black\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-black-darken-2);
}

.black\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-black-darken-3);
}

.black\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-black-darken-4);
}

.primary\:focus:focus {
  background-color: var(--pendeza-primary);
}

.primary\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-primary-lighten-1);
}

.primary\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-primary-lighten-2);
}

.primary\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-primary-lighten-3);
}

.primary\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-primary-lighten-4);
}

.primary\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-primary-darken-1);
}

.primary\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-primary-darken-2);
}

.primary\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-primary-darken-3);
}

.primary\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-primary-darken-4);
}

.secondary\:focus:focus {
  background-color: var(--pendeza-secondary);
}

.secondary\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-secondary-lighten-1);
}

.secondary\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-secondary-lighten-2);
}

.secondary\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-secondary-lighten-3);
}

.secondary\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-secondary-lighten-4);
}

.secondary\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-secondary-darken-1);
}

.secondary\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-secondary-darken-2);
}

.secondary\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-secondary-darken-3);
}

.secondary\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-secondary-darken-4);
}

.success\:focus:focus {
  background-color: var(--pendeza-success);
}

.success\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-success-lighten-1);
}

.success\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-success-lighten-2);
}

.success\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-success-lighten-3);
}

.success\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-success-lighten-4);
}

.success\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-success-darken-1);
}

.success\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-success-darken-2);
}

.success\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-success-darken-3);
}

.success\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-success-darken-4);
}

.danger\:focus:focus {
  background-color: var(--pendeza-danger);
}

.danger\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-danger-lighten-1);
}

.danger\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-danger-lighten-2);
}

.danger\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-danger-lighten-3);
}

.danger\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-danger-lighten-4);
}

.danger\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-danger-darken-1);
}

.danger\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-danger-darken-2);
}

.danger\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-danger-darken-3);
}

.danger\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-danger-darken-4);
}

.warning\:focus:focus {
  background-color: var(--pendeza-warning);
}

.warning\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-warning-lighten-1);
}

.warning\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-warning-lighten-2);
}

.warning\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-warning-lighten-3);
}

.warning\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-warning-lighten-4);
}

.warning\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-warning-darken-1);
}

.warning\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-warning-darken-2);
}

.warning\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-warning-darken-3);
}

.warning\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-warning-darken-4);
}

.muted\:focus:focus {
  background-color: var(--pendeza-muted);
}

.muted\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-muted-lighten-1);
}

.muted\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-muted-lighten-2);
}

.muted\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-muted-lighten-3);
}

.muted\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-muted-lighten-4);
}

.muted\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-muted-darken-1);
}

.muted\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-muted-darken-2);
}

.muted\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-muted-darken-3);
}

.muted\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-muted-darken-4);
}

.dark\:focus:focus {
  background-color: var(--pendeza-dark);
}

.dark\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-dark-lighten-1);
}

.dark\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-dark-lighten-2);
}

.dark\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-dark-lighten-3);
}

.dark\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-dark-lighten-4);
}

.dark\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-dark-darken-1);
}

.dark\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-dark-darken-2);
}

.dark\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-dark-darken-3);
}

.dark\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-dark-darken-4);
}

.light\:focus:focus {
  background-color: var(--pendeza-light);
}

.light\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-light-lighten-1);
}

.light\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-light-lighten-2);
}

.light\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-light-lighten-3);
}

.light\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-light-lighten-4);
}

.light\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-light-darken-1);
}

.light\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-light-darken-2);
}

.light\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-light-darken-3);
}

.light\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-light-darken-4);
}

.blue\:focus:focus {
  background-color: var(--pendeza-blue);
}

.blue\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-blue-lighten-1);
}

.blue\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-blue-lighten-2);
}

.blue\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-blue-lighten-3);
}

.blue\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-blue-lighten-4);
}

.blue\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-blue-darken-1);
}

.blue\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-blue-darken-2);
}

.blue\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-blue-darken-3);
}

.blue\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-blue-darken-4);
}

.green\:focus:focus {
  background-color: var(--pendeza-green);
}

.green\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-green-lighten-1);
}

.green\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-green-lighten-2);
}

.green\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-green-lighten-3);
}

.green\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-green-lighten-4);
}

.green\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-green-darken-1);
}

.green\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-green-darken-2);
}

.green\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-green-darken-3);
}

.green\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-green-darken-4);
}

.yellow\:focus:focus {
  background-color: var(--pendeza-yellow);
}

.yellow\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-yellow-lighten-1);
}

.yellow\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-yellow-lighten-2);
}

.yellow\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-yellow-lighten-3);
}

.yellow\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-yellow-lighten-4);
}

.yellow\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-yellow-darken-1);
}

.yellow\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-yellow-darken-2);
}

.yellow\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-yellow-darken-3);
}

.yellow\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-yellow-darken-4);
}

.orange\:focus:focus {
  background-color: var(--pendeza-orange);
}

.orange\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-orange-lighten-1);
}

.orange\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-orange-lighten-2);
}

.orange\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-orange-lighten-3);
}

.orange\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-orange-lighten-4);
}

.orange\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-orange-darken-1);
}

.orange\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-orange-darken-2);
}

.orange\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-orange-darken-3);
}

.orange\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-orange-darken-4);
}

.pink\:focus:focus {
  background-color: var(--pendeza-pink);
}

.pink\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-pink-lighten-1);
}

.pink\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-pink-lighten-2);
}

.pink\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-pink-lighten-3);
}

.pink\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-pink-lighten-4);
}

.pink\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-pink-darken-1);
}

.pink\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-pink-darken-2);
}

.pink\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-pink-darken-3);
}

.pink\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-pink-darken-4);
}

.red\:focus:focus {
  background-color: var(--pendeza-red);
}

.red\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-red-lighten-1);
}

.red\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-red-lighten-2);
}

.red\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-red-lighten-3);
}

.red\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-red-lighten-4);
}

.red\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-red-darken-1);
}

.red\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-red-darken-2);
}

.red\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-red-darken-3);
}

.red\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-red-darken-4);
}

.purple\:focus:focus {
  background-color: var(--pendeza-purple);
}

.purple\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-purple-lighten-1);
}

.purple\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-purple-lighten-2);
}

.purple\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-purple-lighten-3);
}

.purple\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-purple-lighten-4);
}

.purple\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-purple-darken-1);
}

.purple\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-purple-darken-2);
}

.purple\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-purple-darken-3);
}

.purple\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-purple-darken-4);
}

.teal\:focus:focus {
  background-color: var(--pendeza-teal);
}

.teal\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-teal-lighten-1);
}

.teal\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-teal-lighten-2);
}

.teal\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-teal-lighten-3);
}

.teal\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-teal-lighten-4);
}

.teal\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-teal-darken-1);
}

.teal\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-teal-darken-2);
}

.teal\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-teal-darken-3);
}

.teal\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-teal-darken-4);
}

.indigo\:focus:focus {
  background-color: var(--pendeza-indigo);
}

.indigo\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-indigo-lighten-1);
}

.indigo\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-indigo-lighten-2);
}

.indigo\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-indigo-lighten-3);
}

.indigo\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-indigo-lighten-4);
}

.indigo\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-indigo-darken-1);
}

.indigo\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-indigo-darken-2);
}

.indigo\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-indigo-darken-3);
}

.indigo\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-indigo-darken-4);
}

.brown\:focus:focus {
  background-color: var(--pendeza-brown);
}

.brown\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-brown-lighten-1);
}

.brown\:focus:focus.lighten-2\:focus-hovered {
  background-color: var(--pendeza-brown-lighten-2);
}

.brown\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-brown-lighten-3);
}

.brown\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-brown-lighten-4);
}

.brown\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-brown-darken-1);
}

.brown\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-brown-darken-2);
}

.brown\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-brown-darken-3);
}

.brown\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-brown-darken-4);
}

.violet\:focus:focus-\:focus:focus {
  background-color: var(--pendeza-violet);
}

.violet\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-violet-lighten-1);
}

.violet\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-violet-lighten-2);
}

.violet\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-violet-lighten-3);
}

.violet\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-violet-lighten-4);
}

.violet\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-violet-darken-1);
}

.violet\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-violet-darken-2);
}

.violet\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-violet-darken-3);
}

.violet\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-violet-darken-4);
}

.grey\:focus:focus {
  background-color: var(--pendeza-grey);
}

.grey\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-grey-lighten-1);
}

.grey\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-grey-lighten-2);
}

.grey\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-grey-lighten-3);
}

.grey\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-grey-lighten-4);
}

.grey\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-grey-darken-1);
}

.grey\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-grey-darken-2);
}

.grey\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-grey-darken-3);
}

.grey\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-grey-darken-4);
}

.black\:focus:focus {
  background-color: var(--pendeza-black);
}

.black\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-black-lighten-1);
}

.black\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-black-lighten-2);
}

.black\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-black-lighten-3);
}

.black\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-black-lighten-4);
}

.black\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-black-darken-1);
}

.black\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-black-darken-2);
}

.black\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-black-darken-3);
}

.black\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-black-darken-4);
}
