.cols-2,
.cols-2\@phone {
  grid-template-columns: repeat(2, 1fr);
}

.cols-3,
.cols-3\@phone {
  grid-template-columns: repeat(3, 1fr);
}

.cols-4,
.cols-4\@phone {
  grid-template-columns: repeat(4, 1fr);
}

.cols-5,
.cols-5\@phone {
  grid-template-columns: repeat(5, 1fr);
}

.cols-6,
.cols-6\@phone {
  grid-template-columns: repeat(6, 1fr);
}

.cols-7,
.cols-7\@phone {
  grid-template-columns: repeat(7, 1fr);
}

.cols-8,
.cols-8\@phone {
  grid-template-columns: repeat(8, 1fr);
}

.cols-9,
.cols-9\@phone {
  grid-template-columns: repeat(9, 1fr);
}

.cols-10,
.cols-10\@phone {
  grid-template-columns: repeat(10, 1fr);
}

.cols-11,
.cols-11\@phone {
  grid-template-columns: repeat(11, 1fr);
}

.cols-12,
.cols-12\@phone {
  grid-template-columns: repeat(12, 1fr);
}

.gap-1,
.gap-1\@phone {
  grid-gap: 0.25rem;
}

.gap-2,
.gap-2\@phone {
  grid-gap: 0.5rem;
}

.gap-3,
.gap-3\@phone {
  grid-gap: 0.75rem;
}

.gap-4,
.gap-4\@phone {
  grid-gap: 1rem;
}

.gap-5,
.gap-5\@phone {
  grid-gap: 1.25rem;
}

.gap-6,
.gap-6\@phone {
  grid-gap: 1.5rem;
}

.gap-7,
.gap-7\@phone {
  grid-gap: 1.75rem;
}

.gap-8,
.gap-8\@phone {
  grid-gap: 2rem;
}

.gap-9,
.gap-9\@phone {
  grid-gap: 2.25rem;
}

.gap-10,
.gap-10\@phone {
  grid-gap: 2.5rem;
}

.row-gap-1,
.row-gap-1\@phone {
  grid-row-gap: 0.25rem;
}

.row-gap-2,
.row-gap-2\@phone  {
  grid-row-gap: 0.5rem;
}

.row-gap-3,
.row-gap-3\@phone  {
  grid-row-gap: 0.75rem;
}

.row-gap-4,
.row-gap-4\@phone  {
  grid-row-gap: 1rem;
}

.row-gap-5,
.row-gap-5\@phone  {
  grid-row-gap: 1.25rem;
}

.row-gap-6,
.row-gap-6\@phone  {
  grid-row-gap: 1.5rem;
}

.row-gap-7,
.row-gap-7\@phone  {
  grid-row-gap: 1.75rem;
}

.row-gap-8,
.row-gap-8\@phone  {
  grid-row-gap: 2rem;
}

.row-gap-9,
.row-gap-9\@phone  {
  grid-row-gap: 2.25rem;
}

.row-gap-10,
.row-gap-10\@phone  {
  grid-row-gap: 2.5rem;
}

.col-gap-1,
.col-gap-1\@phone  {
  grid-column-gap: 0.25rem;
}

.col-gap-2,
.col-gap-2\@phone  {
  grid-column-gap: 0.5rem;
}

.col-gap-3,
.col-gap-3\@phone  {
  grid-column-gap: 0.75rem;
}

.col-gap-4,
.col-gap-4\@phone  {
  grid-column-gap: 1rem;
}

.col-gap-5,
.col-gap-5\@phone  {
  grid-column-gap: 1.25rem;
}

.col-gap-6,
.col-gap-6\@phone  {
  grid-column-gap: 1.5rem;
}

.col-gap-7,
.col-gap-7\@phone  {
  grid-column-gap: 1.75rem;
}

.col-gap-8,
.col-gap-8\@phone  {
  grid-column-gap: 2rem;
}

.col-gap-9,
.col-gap-9\@phone  {
  grid-column-gap: 2.25rem;
}

.col-gap-10,
.col-gap-10\@phone  {
  grid-column-gap: 2.5rem;
}

@media (max-width: $small-phone-max-width) {
  .cols-2\@small-phone {
    grid-template-columns: repeat(2, 1fr);
  }

  .cols-3\@small-phone {
    grid-template-columns: repeat(3, 1fr);
  }

  .cols-4\@small-phone {
    grid-template-columns: repeat(4, 1fr);
  }

  .cols-5\@small-phone {
    grid-template-columns: repeat(5, 1fr);
  }

  .cols-6\@small-phone {
    grid-template-columns: repeat(6, 1fr);
  }

  .cols-7\@small-phone {
    grid-template-columns: repeat(7, 1fr);
  }

  .cols-8\@small-phone {
    grid-template-columns: repeat(8, 1fr);
  }

  .cols-9\@small-phone {
    grid-template-columns: repeat(9, 1fr);
  }

  .cols-10\@small-phone {
    grid-template-columns: repeat(10, 1fr);
  }

  .cols-11\@small-phone {
    grid-template-columns: repeat(11, 1fr);
  }

  .cols-12\@small-phone {
    grid-template-columns: repeat(12, 1fr);
  }

  .gap-1\@small-phone {
    grid-gap: 0.25rem;
  }

  .gap-2\@small-phone {
    grid-gap: 0.5rem;
  }

  .gap-3\@small-phone {
    grid-gap: 0.75rem;
  }

  .gap-4\@small-phone {
    grid-gap: 1rem;
  }

  .gap-5\@small-phone {
    grid-gap: 1.25rem;
  }

  .gap-6\@small-phone {
    grid-gap: 1.5rem;
  }

  .gap-7\@small-phone {
    grid-gap: 1.75rem;
  }

  .gap-8\@small-phone {
    grid-gap: 2rem;
  }

  .gap-9\@small-phone {
    grid-gap: 2.25rem;
  }

  .gap-10\@small-phone {
    grid-gap: 2.5rem;
  }

  .row-gap-1\@small-phone {
    grid-row-gap: 0.25rem;
  }

  .row-gap-2\@small-phone  {
    grid-row-gap: 0.5rem;
  }

  .row-gap-3\@small-phone  {
    grid-row-gap: 0.75rem;
  }

  .row-gap-4\@small-phone  {
    grid-row-gap: 1rem;
  }

  .row-gap-5\@small-phone  {
    grid-row-gap: 1.25rem;
  }

  .row-gap-6\@small-phone  {
    grid-row-gap: 1.5rem;
  }

  .row-gap-7\@small-phone  {
    grid-row-gap: 1.75rem;
  }

  .row-gap-8\@small-phone  {
    grid-row-gap: 2rem;
  }

  .row-gap-9\@small-phone  {
    grid-row-gap: 2.25rem;
  }

  .row-gap-10\@small-phone  {
    grid-row-gap: 2.5rem;
  }

  .col-gap-1\@small-phone  {
    grid-column-gap: 0.25rem;
  }

  .col-gap-2\@small-phone  {
    grid-column-gap: 0.5rem;
  }

  .col-gap-3\@small-phone  {
    grid-column-gap: 0.75rem;
  }

  .col-gap-4\@small-phone  {
    grid-column-gap: 1rem;
  }

  .col-gap-5\@small-phone  {
    grid-column-gap: 1.25rem;
  }

  .col-gap-6\@small-phone  {
    grid-column-gap: 1.5rem;
  }

  .col-gap-7\@small-phone  {
    grid-column-gap: 1.75rem;
  }

  .col-gap-8\@small-phone  {
    grid-column-gap: 2rem;
  }

  .col-gap-9\@small-phone  {
    grid-column-gap: 2.25rem;
  }

  .col-gap-10\@small-phone  {
    grid-column-gap: 2.5rem;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .cols-2\@tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  .cols-3\@tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  .cols-4\@tablet {
    grid-template-columns: repeat(4, 1fr);
  }

  .cols-5\@tablet {
    grid-template-columns: repeat(5, 1fr);
  }

  .cols-6\@tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  .cols-7\@tablet {
    grid-template-columns: repeat(7, 1fr);
  }

  .cols-8\@tablet {
    grid-template-columns: repeat(8, 1fr);
  }

  .cols-9\@tablet {
    grid-template-columns: repeat(9, 1fr);
  }

  .cols-10\@tablet {
    grid-template-columns: repeat(10, 1fr);
  }

  .cols-11\@tablet {
    grid-template-columns: repeat(11, 1fr);
  }

  .cols-12\@tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  .gap-1\@tablet {
    grid-gap: 0.25rem;
  }

  .gap-2\@tablet {
    grid-gap: 0.5rem;
  }

  .gap-3\@tablet {
    grid-gap: 0.75rem;
  }

  .gap-4\@tablet {
    grid-gap: 1rem;
  }

  .gap-5\@tablet {
    grid-gap: 1.25rem;
  }

  .gap-6\@tablet {
    grid-gap: 1.5rem;
  }

  .gap-7\@tablet {
    grid-gap: 1.75rem;
  }

  .gap-8\@tablet {
    grid-gap: 2rem;
  }

  .gap-9\@tablet {
    grid-gap: 2.25rem;
  }

  .gap-10\@tablet {
    grid-gap: 2.5rem;
  }

  .row-gap-1\@tablet {
    grid-row-gap: 0.25rem;
  }

  .row-gap-2\@tablet  {
    grid-row-gap: 0.5rem;
  }

  .row-gap-3\@tablet  {
    grid-row-gap: 0.75rem;
  }

  .row-gap-4\@tablet  {
    grid-row-gap: 1rem;
  }

  .row-gap-5\@tablet  {
    grid-row-gap: 1.25rem;
  }

  .row-gap-6\@tablet  {
    grid-row-gap: 1.5rem;
  }

  .row-gap-7\@tablet  {
    grid-row-gap: 1.75rem;
  }

  .row-gap-8\@tablet  {
    grid-row-gap: 2rem;
  }

  .row-gap-9\@tablet  {
    grid-row-gap: 2.25rem;
  }

  .row-gap-10\@tablet  {
    grid-row-gap: 2.5rem;
  }

  .col-gap-1\@tablet  {
    grid-column-gap: 0.25rem;
  }

  .col-gap-2\@tablet  {
    grid-column-gap: 0.5rem;
  }

  .col-gap-3\@tablet  {
    grid-column-gap: 0.75rem;
  }

  .col-gap-4\@tablet  {
    grid-column-gap: 1rem;
  }

  .col-gap-5\@tablet  {
    grid-column-gap: 1.25rem;
  }

  .col-gap-6\@tablet  {
    grid-column-gap: 1.5rem;
  }

  .col-gap-7\@tablet  {
    grid-column-gap: 1.75rem;
  }

  .col-gap-8\@tablet  {
    grid-column-gap: 2rem;
  }

  .col-gap-9\@tablet  {
    grid-column-gap: 2.25rem;
  }

  .col-gap-10\@tablet  {
    grid-column-gap: 2.5rem;
  }
}

@media (min-width: $laptop-min-width) {
  .cols-2\@laptop {
    grid-template-columns: repeat(2, 1fr);
  }

  .cols-3\@laptop {
    grid-template-columns: repeat(3, 1fr);
  }

  .cols-4\@laptop {
    grid-template-columns: repeat(4, 1fr);
  }

  .cols-5\@laptop {
    grid-template-columns: repeat(5, 1fr);
  }

  .cols-6\@laptop {
    grid-template-columns: repeat(6, 1fr);
  }

  .cols-7\@laptop {
    grid-template-columns: repeat(7, 1fr);
  }

  .cols-8\@laptop {
    grid-template-columns: repeat(8, 1fr);
  }

  .cols-9\@laptop {
    grid-template-columns: repeat(9, 1fr);
  }

  .cols-10\@laptop {
    grid-template-columns: repeat(10, 1fr);
  }

  .cols-11\@laptop {
    grid-template-columns: repeat(11, 1fr);
  }

  .cols-12\@laptop {
    grid-template-columns: repeat(12, 1fr);
  }

  .gap-1\@laptop {
    grid-gap: 0.25rem;
  }

  .gap-2\@laptop {
    grid-gap: 0.5rem;
  }

  .gap-3\@laptop {
    grid-gap: 0.75rem;
  }

  .gap-4\@laptop {
    grid-gap: 1rem;
  }

  .gap-5\@laptop {
    grid-gap: 1.25rem;
  }

  .gap-6\@laptop {
    grid-gap: 1.5rem;
  }

  .gap-7\@laptop {
    grid-gap: 1.75rem;
  }

  .gap-8\@laptop {
    grid-gap: 2rem;
  }

  .gap-9\@laptop {
    grid-gap: 2.25rem;
  }

  .gap-10\@laptop {
    grid-gap: 2.5rem;
  }

  .row-gap-1\@laptop {
    grid-row-gap: 0.25rem;
  }

  .row-gap-2\@laptop  {
    grid-row-gap: 0.5rem;
  }

  .row-gap-3\@laptop  {
    grid-row-gap: 0.75rem;
  }

  .row-gap-4\@laptop  {
    grid-row-gap: 1rem;
  }

  .row-gap-5\@laptop  {
    grid-row-gap: 1.25rem;
  }

  .row-gap-6\@laptop  {
    grid-row-gap: 1.5rem;
  }

  .row-gap-7\@laptop  {
    grid-row-gap: 1.75rem;
  }

  .row-gap-8\@laptop  {
    grid-row-gap: 2rem;
  }

  .row-gap-9\@laptop  {
    grid-row-gap: 2.25rem;
  }

  .row-gap-10\@laptop  {
    grid-row-gap: 2.5rem;
  }

  .col-gap-1\@laptop  {
    grid-column-gap: 0.25rem;
  }

  .col-gap-2\@laptop  {
    grid-column-gap: 0.5rem;
  }

  .col-gap-3\@laptop  {
    grid-column-gap: 0.75rem;
  }

  .col-gap-4\@laptop  {
    grid-column-gap: 1rem;
  }

  .col-gap-5\@laptop  {
    grid-column-gap: 1.25rem;
  }

  .col-gap-6\@laptop  {
    grid-column-gap: 1.5rem;
  }

  .col-gap-7\@laptop  {
    grid-column-gap: 1.75rem;
  }

  .col-gap-8\@laptop  {
    grid-column-gap: 2rem;
  }

  .col-gap-9\@laptop  {
    grid-column-gap: 2.25rem;
  }

  .col-gap-10\@laptop  {
    grid-column-gap: 2.5rem;
  }
}
