.h-0,
.h-0\@phone {
  height: 0;
}

.h-0\.5,
.h-0\.5\@phone {
  height: 0.25rem;
}

.h-1,
.h-1\@phone {
  height: 0.5rem;
}

.h-1\.5,
.h-1\.5\@phone {
  height: 0.75rem;
}

.h-2,
.h-2\@phone {
  height: 1rem;
}

.h-2\.5,
.h-2\.5\@phone {
  height: 1.25rem;
}

.h-3,
.h-3\@phone {
  height: 1.5rem;
}

.h-3\.5,
.h-3\.5\@phone {
  height: 1.75rem;
}

.h-4,
.h-4\@phone {
  height: 2rem;
}

.h-4\.5,
.h-4\.5\@phone {
  height: 2.25rem;
}

.h-5,
.h-5\@phone {
  height: 2.5rem;
}

.h-5\.5,
.h-5\.5\@phone {
  height: 2.75rem;
}

.h-6,
.h-6\@phone {
  height: 3rem;
}

.h-6\.5,
.h-6\.5\@phone {
  height: 3.25rem;
}

.h-7,
.h-7\@phone {
  height: 3.5rem;
}

.h-7\.5,
.h-7\.5\@phone {
  height: 3.75rem;
}

.h-8,
.h-8\@phone {
  height: 4rem;
}

.h-8\.5,
.h-8\.5\@phone {
  height: 4.25rem;
}

.h-9,
.h-9\@phone {
  height: 4.5rem;
}

.h-9\.5,
.h-9\.5\@phone {
  height: 4.75rem;
}

.h-10,
.h-10\@phone {
  height: 5rem;
}

.h-10\.5,
.h-10\.5\@phone {
  height: 5.25rem;
}

.h-11,
.h-11\@phone {
  height: 5.5rem;
}

.h-11\.5,
.h-11\.5\@phone {
  height: 5.75rem;
}

.h-12,
.h-12\@phone {
  height: 6rem;
}

.h-12\.5,
.h-12\.5\@phone {
  height: 6.25rem;
}

.h-13,
.h-13\@phone {
  height: 6.5rem;
}

.h-13\.5,
.h-13\.5\@phone {
  height: 6.75rem;
}

.h-14,
.h-14\@phone {
  height: 7rem;
}

.h-14\.5,
.h-14\.5\@phone {
  height: 7.25rem;
}

.h-15,
.h-15\@phone {
  height: 7.5rem;
}

.h-10\%,
.h-10\%\@phone {
  height: 10%;
}

.h-20\%,
.h-20\%\@phone {
  height: 20%;
}

.h-30\%,
.h-30\%\@phone {
  height: 30%;
}

.h-40\%,
.h-40\%\@phone {
  height: 40%;
}

.h-50\%,
.h-50\%\@phone {
  height: 50%;
}

.h-60\%,
.h-60\%\@phone {
  height: 60%;
}

.h-70\%,
.h-70\%\@phone {
  height: 70%;
}

.h-80\%,
.h-80\%\@phone {
  height: 80%;
}

.h-90\%,
.h-90\%\@phone {
  height: 90%;
}

.h-100\%,
.h-100\%\@phone {
  height: 100%;
}

.h-25vh,
.h-25vh\@phone {
  height: 25vh;
}

.h-50vh,
.h-50vh\@phone {
  height: 50vh;
}

.h-75vh,
.h-75vh\@phone {
  height: 75vh;
}

.h-100vh,
.h-100vh\@phone {
  height: 100vh;
}

.h-125vh,
.h-125vh\@phone {
  height: 125vh;
}

.h-150vh,
.h-150vh\@phone {
  height: 150vh;
}

@media (max-width: $small-phone-max-width) {
  .h-0\@small-phone {
    height: 0;
  }

  .h-0\.5\@small-phone {
    height: 0.25rem;
  }

  .h-1\@small-phone {
    height: 0.5rem;
  }

  .h-1\.5\@small-phone {
    height: 0.75rem;
  }

  .h-2\@small-phone {
    height: 1rem;
  }

  .h-2\.5\@small-phone {
    height: 1.25rem;
  }

  .h-3\@small-phone {
    height: 1.5rem;
  }

  .h-3\.5\@small-phone {
    height: 1.75rem;
  }

  .h-4\@small-phone {
    height: 2rem;
  }

  .h-4\.5\@small-phone {
    height: 2.25rem;
  }

  .h-5\@small-phone {
    height: 2.5rem;
  }

  .h-5\.5\@small-phone {
    height: 2.75rem;
  }

  .h-6\@small-phone {
    height: 3rem;
  }

  .h-6\.5\@small-phone {
    height: 3.25rem;
  }

  .h-7\@small-phone {
    height: 3.5rem;
  }

  .h-7\.5\@small-phone {
    height: 3.75rem;
  }

  .h-8\@small-phone {
    height: 4rem;
  }

  .h-8\.5\@small-phone {
    height: 4.25rem;
  }

  .h-9\@small-phone {
    height: 4.5rem;
  }

  .h-9\.5\@small-phone {
    height: 4.75rem;
  }

  .h-10\@small-phone {
    height: 5rem;
  }

  .h-10\.5\@small-phone {
    height: 5.25rem;
  }

  .h-11\@small-phone {
    height: 5.5rem;
  }

  .h-11\.5\@small-phone {
    height: 5.75rem;
  }

  .h-12\@small-phone {
    height: 6rem;
  }

  .h-12\.5\@small-phone {
    height: 6.25rem;
  }

  .h-13\@small-phone {
    height: 6.5rem;
  }

  .h-13\.5\@small-phone {
    height: 6.75rem;
  }

  .h-14\@small-phone {
    height: 7rem;
  }

  .h-14\.5\@small-phone {
    height: 7.25rem;
  }

  .h-15\@small-phone {
    height: 7.5rem;
  }

  .h-10\%\@small-phone {
    height: 10%;
  }

  .h-20\%\@small-phone {
    height: 20%;
  }

  .h-30\%\@small-phone {
    height: 30%;
  }

  .h-40\%\@small-phone {
    height: 40%;
  }

  .h-50\%\@small-phone {
    height: 50%;
  }

  .h-60\%\@small-phone {
    height: 60%;
  }

  .h-70\%\@small-phone {
    height: 70%;
  }

  .h-80\%\@small-phone {
    height: 80%;
  }

  .h-90\%\@small-phone {
    height: 90%;
  }

  .h-100\%\@small-phone {
    height: 100%;
  }

  .h-25vh\@small-phone {
    height: 25vh;
  }

  .h-50vh\@small-phone {
    height: 50vh;
  }

  .h-75vh\@small-phone {
    height: 75vh;
  }

  .h-100vh\@small-phone {
    height: 100vh;
  }

  .h-125vh\@small-phone {
    height: 125vh;
  }

  .h-150vh\@small-phone {
    height: 150vh;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .h-0\@tablet {
    height: 0;
  }

  .h-0\.5\@tablet {
    height: 0.25rem;
  }

  .h-1\@tablet {
    height: 0.5rem;
  }

  .h-1\.5\@tablet {
    height: 0.75rem;
  }

  .h-2\@tablet {
    height: 1rem;
  }

  .h-2\.5\@tablet {
    height: 1.25rem;
  }

  .h-3\@tablet {
    height: 1.5rem;
  }

  .h-3\.5\@tablet {
    height: 1.75rem;
  }

  .h-4\@tablet {
    height: 2rem;
  }

  .h-4\.5\@tablet {
    height: 2.25rem;
  }

  .h-5\@tablet {
    height: 2.5rem;
  }

  .h-5\.5\@tablet {
    height: 2.75rem;
  }

  .h-6\@tablet {
    height: 3rem;
  }

  .h-6\.5\@tablet {
    height: 3.25rem;
  }

  .h-7\@tablet {
    height: 3.5rem;
  }

  .h-7\.5\@tablet {
    height: 3.75rem;
  }

  .h-8\@tablet {
    height: 4rem;
  }

  .h-8\.5\@tablet {
    height: 4.25rem;
  }

  .h-9\@tablet {
    height: 4.5rem;
  }

  .h-9\.5\@tablet {
    height: 4.75rem;
  }

  .h-10\@tablet {
    height: 5rem;
  }

  .h-10\.5\@tablet {
    height: 5.25rem;
  }

  .h-11\@tablet {
    height: 5.5rem;
  }

  .h-11\.5\@tablet {
    height: 5.75rem;
  }

  .h-12\@tablet {
    height: 6rem;
  }

  .h-12\.5\@tablet {
    height: 6.25rem;
  }

  .h-13\@tablet {
    height: 6.5rem;
  }

  .h-13\.5\@tablet {
    height: 6.75rem;
  }

  .h-14\@tablet {
    height: 7rem;
  }

  .h-14\.5\@tablet {
    height: 7.25rem;
  }

  .h-15\@tablet {
    height: 7.5rem;
  }

  .h-10\%\@tablet {
    height: 10%;
  }

  .h-20\%\@tablet {
    height: 20%;
  }

  .h-30\%\@tablet {
    height: 30%;
  }

  .h-40\%\@tablet {
    height: 40%;
  }

  .h-50\%\@tablet {
    height: 50%;
  }

  .h-60\%\@tablet {
    height: 60%;
  }

  .h-70\%\@tablet {
    height: 70%;
  }

  .h-80\%\@tablet {
    height: 80%;
  }

  .h-90\%\@tablet {
    height: 90%;
  }

  .h-100\%\@tablet {
    height: 100%;
  }

  .h-50vh\@tablet {
    height: 50vh;
  }

  .h-75vh\@tablet {
    height: 75vh;
  }

  .h-100vh\@tablet {
    height: 100vh;
  }

  .h-125vh\@tablet {
    height: 125vh;
  }

  .h-150vh\@tablet {
    height: 150vh;
  }
}

@media (min-width: $laptop-min-width) {
  .h-0\@laptop {
    height: 0;
  }

  .h-0\.5\@laptop {
    height: 0.25rem;
  }

  .h-1\@laptop {
    height: 0.5rem;
  }

  .h-1\.5\@laptop {
    height: 0.75rem;
  }

  .h-2\@laptop {
    height: 1rem;
  }

  .h-2\.5\@laptop {
    height: 1.25rem;
  }

  .h-3\@laptop {
    height: 1.5rem;
  }

  .h-3\.5\@laptop {
    height: 1.75rem;
  }

  .h-4\@laptop {
    height: 2rem;
  }

  .h-4\.5\@laptop {
    height: 2.25rem;
  }

  .h-5\@laptop {
    height: 2.5rem;
  }

  .h-5\.5\@laptop {
    height: 2.75rem;
  }

  .h-6\@laptop {
    height: 3rem;
  }

  .h-6\.5\@laptop {
    height: 3.25rem;
  }

  .h-7\@laptop {
    height: 3.5rem;
  }

  .h-7\.5\@laptop {
    height: 3.75rem;
  }

  .h-8\@laptop {
    height: 4rem;
  }

  .h-8\.5\@laptop {
    height: 4.25rem;
  }

  .h-9\@laptop {
    height: 4.5rem;
  }

  .h-9\.5\@laptop {
    height: 4.75rem;
  }

  .h-10\@laptop {
    height: 5rem;
  }

  .h-10\.5\@laptop {
    height: 5.25rem;
  }

  .h-11\@laptop {
    height: 5.5rem;
  }

  .h-11\.5\@laptop {
    height: 5.75rem;
  }

  .h-12\@laptop {
    height: 6rem;
  }

  .h-12\.5\@laptop {
    height: 6.25rem;
  }

  .h-13\@laptop {
    height: 6.5rem;
  }

  .h-13\.5\@laptop {
    height: 6.75rem;
  }

  .h-14\@laptop {
    height: 7rem;
  }

  .h-14\.5\@laptop {
    height: 7.25rem;
  }

  .h-15\@laptop {
    height: 7.5rem;
  }

  .h-10\%\@laptop {
    height: 10%;
  }

  .h-20\%\@laptop {
    height: 20%;
  }

  .h-30\%\@laptop {
    height: 30%;
  }

  .h-40\%\@laptop {
    height: 40%;
  }

  .h-50\%\@laptop {
    height: 50%;
  }

  .h-60\%\@laptop {
    height: 60%;
  }

  .h-70\%\@laptop {
    height: 70%;
  }

  .h-80\%\@laptop {
    height: 80%;
  }

  .h-90\%\@laptop {
    height: 90%;
  }

  .h-100\%\@laptop {
    height: 100%;
  }

  .h-25vh\@laptop {
    height: 25vh;
  }

  .h-50vh\@laptop {
    height: 50vh;
  }

  .h-75vh\@laptop {
    height: 75vh;
  }

  .h-100vh\@laptop {
    height: 100vh;
  }

  .h-125vh\@laptop {
    height: 125vh;
  }

  .h-150vh\@laptop {
    height: 150vh;
  }
}
