.list-unstyled {
  list-style: none;
}

.list-disc {
  list-style: disc;
}

.list-decimal {
  list-style: decimal;
}

.list-cirlce {
  list-style: circle;
}

.list-square {
  list-style: square;
}

.list {
  .list-item {
    padding: 0.35rem 1rem;
  }

  .list-item:hover {
    opacity: 0.9;
    transition: opacity 0.7s ease-out;
  }

  .list-item.muted {
    color: var(--pendeza-light);
  }

  .list-item.dark {
    color: var(--pendeza-light);
  }
}

.list.muted {
  color: var(--pendeza-light);
}

.list.dark {
  color: var(--pendeza-light);
}
