.opacity-10\% {
  opacity: 10%;
}

.opacity-20\% {
  opacity: 20%;
}

.opacity-30\% {
  opacity: 30%;
}

.opacity-40\% {
  opacity: 40%;
}

.opacity-50\% {
  opacity: 50%;
}

.opacity-60\% {
  opacity: 60%;
}

.opacity-70\% {
  opacity: 70%;
}

.opacity-80\% {
  opacity: 80%;
}

.opacity-90\% {
  opacity: 90%;
}

.opacity-100\% {
  opacity: 100%;
}

.opacity-10\%\:hover:hover {
  opacity: 10%;
}

.opacity-20\%\:hover:hover {
  opacity: 20%;
}

.opacity-30\%\:hover:hover {
  opacity: 30%;
}

.opacity-40\%\:hover:hover {
  opacity: 40%;
}

.opacity-50\%\:hover:hover {
  opacity: 50%;
}

.opacity-60\%\:hover:hover {
  opacity: 60%;
}

.opacity-70\%\:hover:hover {
  opacity: 70%;
}

.opacity-80\%\:hover:hover {
  opacity: 80%;
}

.opacity-90\%\:hover:hover {
  opacity: 90%;
}

.opacity-100\%\:hover:hover {
  opacity: 100%;
}

.opacity-10\%\:focus:focus {
  opacity: 10%;
}

.opacity-20\%\:focus:focus {
  opacity: 20%;
}

.opacity-30\%\:focus:focus {
  opacity: 30%;
}

.opacity-40\%\:focus:focus {
  opacity: 40%;
}

.opacity-50\%\:focus:focus {
  opacity: 50%;
}

.opacity-60\%\:focus:focus {
  opacity: 60%;
}

.opacity-70\%\:focus:focus {
  opacity: 70%;
}

.opacity-80\%\:focus:focus {
  opacity: 80%;
}

.opacity-90\%\:focus:focus {
  opacity: 90%;
}

.opacity-100\%\:focus:focus {
  opacity: 100%;
}
