.p-0,
.p-0\@phone {
  padding: 0;
}

.p-0\.5,
.p-0\.5\@phone {
  padding: 0.25rem;
}

.p-1,
.p-1\@phone {
  padding: 0.5rem;
}

.p-1\.5,
.p-1\.5\@phone {
  padding: 0.75rem;
}

.p-2,
.p-2\@phone {
  padding: 1rem;
}

.p-2\.5,
.p-2\.5\@phone {
  padding: 1.25rem;
}

.p-3,
.p-3\@phone {
  padding: 1.5rem;
}

.p-3\.5,
.p-3\.5\@phone {
  padding: 1.75rem;
}

.p-4,
.p-4\@phone {
  padding: 2rem;
}

.p-4\.5,
.p-4\.5\@phone {
  padding: 2.25rem;
}

.p-5,
.p-5\@phone {
  padding: 2.5rem;
}

.p-5\.5,
.p-5\.5\@phone {
  padding: 2.75rem;
}

.p-6,
.p-6\@phone {
  padding: 3rem;
}

.p-6\.5,
.p-6\.5\@phone {
  padding: 3.25rem;
}

.p-7,
.p-7\@phone {
  padding: 3.5rem;
}

.p-7\.5,
.p-7\.5\@phone {
  padding: 3.75rem;
}

.p-8,
.p-8\@phone {
  padding: 4rem;
}

.p-8\.5,
.p-8\.5\@phone {
  padding: 4.25rem;
}

.p-9,
.p-9\@phone {
  padding: 4.5rem;
}

.p-9\.5,
.p-9\.5\@phone {
  padding: 4.75rem;
}

.p-10,
.p-10\@phone {
  padding: 5rem;
}

.p-10\.5,
.p-10\.5\@phone {
  padding: 5.25rem;
}

.p-11,
.p-11\@phone {
  padding: 5.5rem;
}

.p-11\.5,
.p-11\.5\@phone {
  padding: 5.75rem;
}

.p-12,
.p-12\@phone {
  padding: 6rem;
}

.p-12\.5,
.p-12\.5\@phone {
  padding: 6.25rem;
}

.p-13,
.p-13\@phone {
  padding: 6.5rem;
}

.p-13\.5,
.p-13\.5\@phone {
  padding: 6.75rem;
}

.p-14,
.p-14\@phone {
  padding: 7rem;
}

.p-14\.5,
.p-14\.5\@phone {
  padding: 7.25rem;
}

.p-15,
.p-15\@phone {
  padding: 7.5rem;
}

.p-auto,
.p-auto\@phone {
  padding: auto;
}

.pt-0,
.pt-0\@phone {
  padding-top: 0;
}

.pt-0\.5,
.pt-0\.5\@phone {
  padding-top: 0.25rem;
}

.pt-1,
.pt-1\@phone {
  padding-top: 0.5rem;
}

.pt-1\.5,
.pt-1\.5\@phone {
  padding-top: 0.75rem;
}

.pt-2,
.pt-2\@phone {
  padding-top: 1rem;
}

.pt-2\.5,
.pt-2\.5\@phone {
  padding-top: 1.25rem;
}

.pt-3,
.pt-3\@phone {
  padding-top: 1.5rem;
}

.pt-3\.5,
.pt-3\.5\@phone {
  padding-top: 1.75rem;
}

.pt-4,
.pt-4\@phone {
  padding-top: 2rem;
}

.pt-4\.5,
.pt-4\.5\@phone {
  padding-top: 2.25rem;
}

.pt-5,
.pt-5\@phone {
  padding-top: 2.5rem;
}

.pt-5\.5,
.pt-5\.5\@phone {
  padding-top: 2.75rem;
}

.pt-6,
.pt-6\@phone {
  padding-top: 3rem;
}

.pt-6\.5,
.pt-6\.5\@phone {
  padding-top: 3.25rem;
}

.pt-7,
.pt-7\@phone {
  padding-top: 3.5rem;
}

.pt-7\.5,
.pt-7\.5\@phone {
  padding-top: 3.75rem;
}

.pt-8,
.pt-8\@phone {
  padding-top: 4rem;
}

.pt-8\.5,
.pt-8\.5\@phone {
  padding-top: 4.25rem;
}

.pt-9,
.pt-9\@phone {
  padding-top: 4.5rem;
}

.pt-9\.5,
.pt-9\.5\@phone {
  padding-top: 4.75rem;
}

.pt-10,
.pt-10\@phone {
  padding-top: 5rem;
}

.pt-10\.5,
.pt-10\.5\@phone {
  padding-top: 5.25rem;
}

.pt-11,
.pt-11\@phone {
  padding-top: 5.5rem;
}

.pt-11\.5,
.pt-11\.5\@phone {
  padding-top: 5.75rem;
}

.pt-12,
.pt-12\@phone {
  padding-top: 6rem;
}

.pt-12\.5,
.pt-12\.5\@phone {
  padding-top: 6.25rem;
}

.pt-13,
.pt-13\@phone {
  padding-top: 6.5rem;
}

.pt-13\.5,
.pt-13\.5\@phone {
  padding-top: 6.75rem;
}

.pt-14,
.pt-14\@phone {
  padding-top: 7rem;
}

.pt-14\.5,
.pt-14\.5\@phone {
  padding-top: 7.25rem;
}

.pt-15,
.pt-15\@phone {
  padding-top: 7.5rem;
}

.pt-auto,
.pt-auto\@phone {
  padding-top: auto;
}

.pr-0,
.pr-0\@phone {
  padding-right: 0;
}

.pr-0\.5,
.pr-0\.5\@phone {
  padding-right: 0.25rem;
}

.pr-1,
.pr-1\@phone {
  padding-right: 0.5rem;
}

.pr-1\.5,
.pr-1\.5\@phone {
  padding-right: 0.75rem;
}

.pr-2,
.pr-2\@phone {
  padding-right: 1rem;
}

.pr-2\.5,
.pr-2\.5\@phone {
  padding-right: 1.25rem;
}

.pr-3,
.pr-3\@phone {
  padding-right: 1.5rem;
}

.pr-3\.5,
.pr-3\.5\@phone {
  padding-right: 1.75rem;
}

.pr-4,
.pr-4\@phone {
  padding-right: 2rem;
}

.pr-4\.5,
.pr-4\.5\@phone {
  padding-right: 2.25rem;
}

.pr-5,
.pr-5\@phone {
  padding-right: 2.5rem;
}

.pr-5\.5,
.pr-5\.5\@phone {
  padding-right: 2.75rem;
}

.pr-6,
.pr-6\@phone {
  padding-right: 3rem;
}

.pr-6\.5,
.pr-6\.5\@phone {
  padding-right: 3.25rem;
}

.pr-7,
.pr-7\@phone {
  padding-right: 3.5rem;
}

.pr-7\.5,
.pr-7\.5\@phone {
  padding-right: 3.75rem;
}

.pr-8,
.pr-8\@phone {
  padding-right: 4rem;
}

.pr-8\.5,
.pr-8\.5\@phone {
  padding-right: 4.25rem;
}

.pr-9,
.pr-9\@phone {
  padding-right: 4.5rem;
}

.pr-9\.5,
.pr-9\.5\@phone {
  padding-right: 4.75rem;
}

.pr-10,
.pr-10\@phone {
  padding-right: 5rem;
}

.pr-10\.5,
.pr-10\.5\@phone {
  padding-right: 5.25rem;
}

.pr-11,
.pr-11\@phone {
  padding-right: 5.5rem;
}

.pr-11\.5,
.pr-11\.5\@phone {
  padding-right: 5.75rem;
}

.pr-12,
.pr-12\@phone {
  padding-right: 6rem;
}

.pr-12\.5,
.pr-12\.5\@phone {
  padding-right: 6.25rem;
}

.pr-13,
.pr-13\@phone {
  padding-right: 6.5rem;
}

.pr-13\.5,
.pr-13\.5\@phone {
  padding-right: 6.75rem;
}

.pr-14,
.pr-14\@phone {
  padding-right: 7rem;
}

.pr-14\.5,
.pr-14\.5\@phone {
  padding-right: 7.25rem;
}

.pr-15,
.pr-15\@phone {
  padding-right: 7.5rem;
}

.pr-auto,
.pr-auto\@phone {
  padding-right: auto;
}

.pb-0,
.pb-0\@phone {
  padding-bottom: 0;
}

.pb-0\.5,
.pb-0\.5\@phone {
  padding-bottom: 0.25rem;
}

.pb-1,
.pb-1\@phone {
  padding-bottom: 0.5rem;
}

.pb-1\.5,
.pb-1\.5\@phone {
  padding-bottom: 0.75rem;
}

.pb-2,
.pb-2\@phone {
  padding-bottom: 1rem;
}

.pb-2\.5,
.pb-2\.5\@phone {
  padding-bottom: 1.25rem;
}

.pb-3,
.pb-3\@phone {
  padding-bottom: 1.5rem;
}

.pb-3\.5,
.pb-3\.5\@phone {
  padding-bottom: 1.75rem;
}

.pb-4,
.pb-4\@phone {
  padding-bottom: 2rem;
}

.pb-4\.5,
.pb-4\.5\@phone {
  padding-bottom: 2.25rem;
}

.pb-5,
.pb-5\@phone {
  padding-bottom: 2.5rem;
}

.pb-5\.5,
.pb-5\.5\@phone {
  padding-bottom: 2.75rem;
}

.pb-6,
.pb-6\@phone {
  padding-bottom: 3rem;
}

.pb-6\.5,
.pb-6\.5\@phone {
  padding-bottom: 3.25rem;
}

.pb-7,
.pb-7\@phone {
  padding-bottom: 3.5rem;
}

.pb-7\.5,
.pb-7\.5\@phone {
  padding-bottom: 3.75rem;
}

.pb-8,
.pb-8\@phone {
  padding-bottom: 4rem;
}

.pb-8\.5,
.pb-8\.5\@phone {
  padding-bottom: 4.25rem;
}

.pb-9,
.pb-9\@phone {
  padding-bottom: 4.5rem;
}

.pb-9\.5,
.pb-9\.5\@phone {
  padding-bottom: 4.75rem;
}

.pb-10,
.pb-10\@phone {
  padding-bottom: 5rem;
}

.pb-10\.5,
.pb-10\.5\@phone {
  padding-bottom: 5.25rem;
}

.pb-11,
.pb-11\@phone {
  padding-bottom: 5.5rem;
}

.pb-11\.5,
.pb-11\.5\@phone {
  padding-bottom: 5.75rem;
}

.pb-12,
.pb-12\@phone {
  padding-bottom: 6rem;
}

.pb-12\.5,
.pb-12\.5\@phone {
  padding-bottom: 6.25rem;
}

.pb-13,
.pb-13\@phone {
  padding-bottom: 6.5rem;
}

.pb-13\.5,
.pb-13\.5\@phone {
  padding-bottom: 6.75rem;
}

.pb-14,
.pb-14\@phone {
  padding-bottom: 7rem;
}

.pb-14\.5,
.pb-14\.5\@phone {
  padding-bottom: 7.25rem;
}

.pb-15,
.pb-15\@phone {
  padding-bottom: 7.5rem;
}

.pb-auto,
.pb-auto\@phone {
  padding-bottom: auto;
}

.pl-0,
.pl-0\@phone {
  padding-left: 0;
}

.pl-0\.5,
.pl-0\.5\@phone {
  padding-left: 0.25rem;
}

.pl-1,
.pl-1\@phone {
  padding-left: 0.5rem;
}

.pl-1\.5,
.pl-1\.5\@phone {
  padding-left: 0.75rem;
}

.pl-2,
.pl-2\@phone {
  padding-left: 1rem;
}

.pl-2\.5,
.pl-2\.5\@phone {
  padding-left: 1.25rem;
}

.pl-3,
.pl-3\@phone {
  padding-left: 1.5rem;
}

.pl-3\.5,
.pl-3\.5\@phone {
  padding-left: 1.75rem;
}

.pl-4,
.pl-4\@phone {
  padding-left: 2rem;
}

.pl-4\.5,
.pl-4\.5\@phone {
  padding-left: 2.25rem;
}

.pl-5,
.pl-5\@phone {
  padding-left: 2.5rem;
}

.pl-5\.5,
.pl-5\.5\@phone {
  padding-left: 2.75rem;
}

.pl-6,
.pl-6\@phone {
  padding-left: 3rem;
}

.pl-6\.5,
.pl-6\.5\@phone {
  padding-left: 3.25rem;
}

.pl-7,
.pl-7\@phone {
  padding-left: 3.5rem;
}

.pl-7\.5,
.pl-7\.5\@phone {
  padding-left: 3.75rem;
}

.pl-8,
.pl-8\@phone {
  padding-left: 4rem;
}

.pl-8\.5,
.pl-8\.5\@phone {
  padding-left: 4.25rem;
}

.pl-9,
.pl-9\@phone {
  padding-left: 4.5rem;
}

.pl-9\.5,
.pl-9\.5\@phone {
  padding-left: 4.75rem;
}

.pl-10,
.pl-10\@phone {
  padding-left: 5rem;
}

.pl-10\.5,
.pl-10\.5\@phone {
  padding-left: 5.25rem;
}

.pl-11,
.pl-11\@phone {
  padding-left: 5.5rem;
}

.pl-11\.5,
.pl-11\.5\@phone {
  padding-left: 5.75rem;
}

.pl-12,
.pl-12\@phone {
  padding-left: 6rem;
}

.pl-12\.5,
.pl-12\.5\@phone {
  padding-left: 6.25rem;
}

.pl-13,
.pl-13\@phone {
  padding-left: 6.5rem;
}

.pl-13\.5,
.pl-13\.5\@phone {
  padding-left: 6.75rem;
}

.pl-14,
.pl-14\@phone {
  padding-left: 7rem;
}

.pl-14\.5,
.pl-14\.5\@phone {
  padding-left: 7.25rem;
}

.pl-15,
.pl-15\@phone {
  padding-left: 7.5rem;
}

.pl-auto,
.pl-auto\@phone {
  padding-left: auto;
}

.px-0,
.px-0\@phone {
  padding-right: 0;
  padding-left: 0;
}

.px-0\.5,
.px-0\.5\@phone {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.px-1,
.px-1\@phone {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-1\.5,
.px-1\.5\@phone {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.px-2,
.px-2\@phone {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-2\.5,
.px-2\.5\@phone {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.px-3,
.px-3\@phone {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.px-3\.5,
.px-3\.5\@phone {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.px-4,
.px-4\@phone {
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-4\.5,
.px-4\.5\@phone {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.px-5,
.px-5\@phone {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.px-5\.5,
.px-5\.5\@phone {
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}

.px-6,
.px-6\@phone {
  padding-right: 3rem;
  padding-left: 3rem;
}

.px-6\.5,
.px-6\.5\@phone {
  padding-right: 3.25rem;
  padding-left: 3.25rem;
}

.px-7,
.px-7\@phone {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.px-7\.5,
.px-7\.5\@phone {
  padding-right: 3.75rem;
  padding-left: 3.75rem;
}

.px-8,
.px-8\@phone {
  padding-right: 4rem;
  padding-left: 4rem;
}

.px-8\.5,
.px-8\.5\@phone {
  padding-right: 4.25rem;
  padding-left: 4.25rem;
}

.px-9,
.px-9\@phone {
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}

.px-9\.5,
.px-9\.5\@phone {
  padding-right: 4.75rem;
  padding-left: 4.75rem;
}

.px-10,
.px-10\@phone {
  padding-right: 5rem;
  padding-left: 5rem;
}

.px-10\.5,
.px-10\.5\@phone {
  padding-right: 5.25rem;
  padding-left: 5.25rem;
}

.px-11,
.px-11\@phone {
  padding-right: 5.5rem;
  padding-left: 5.5rem;
}

.px-11\.5,
.px-11\.5\@phone {
  padding-right: 5.75rem;
  padding-left: 5.75rem;
}

.px-12,
.px-12\@phone {
  padding-right: 6rem;
  padding-left: 6rem;
}

.px-12\.5,
.px-12\.5\@phone {
  padding-right: 6.25rem;
  padding-left: 6.25rem;
}

.px-13,
.px-13\@phone {
  padding-right: 6.55rem;
  padding-left: 6.55rem;
}

.px-13\.5,
.px-13\.5\@phone {
  padding-right: 6.75rem;
  padding-left: 6.75rem;
}

.px-14,
.px-14\@phone {
  padding-right: 7rem;
  padding-left: 7rem;
}

.px-14\.5,
.px-14\.5\@phone {
  padding-right: 7.25rem;
  padding-left: 7.25rem;
}

.px-15,
.px-15\@phone {
  padding-right: 7.25rem;
  padding-left: 7.25rem;
}

.px-auto,
.px-auto\@phone {
  padding-right: auto;
  padding-left: auto;
}

.py-0,
.py-0\@phone {
  padding-top: 0;
  padding-bottom: 0;
}

.py-0\.5,
.py-0\.5\@phone {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1,
.py-1\@phone {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-1\.5,
.py-1\.5\@phone {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-2,
.py-2\@phone {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2\.5,
.py-2\.5\@phone {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-3,
.py-3\@phone {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-3\.5,
.py-3\.5\@phone {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-4,
.py-4\@phone {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-4\.5,
.py-4\.5\@phone {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-5,
.py-5\@phone {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-5\.5,
.py-5\.5\@phone {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.py-6,
.py-6\@phone {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6\.5,
.py-6\.5\@phone {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.py-7,
.py-7\@phone {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-7\.5,
.py-7\.5\@phone {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.py-8,
.py-8\@phone {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-8\.5,
.py-8\.5\@phone {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
}

.py-9,
.py-9\@phone {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-9\.5,
.py-9\.5\@phone {
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
}

.py-10,
.py-10\@phone {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-10\.5,
.py-10\.5\@phone {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.py-11,
.py-11\@phone {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.py-11\.5,
.py-11\.5\@phone {
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;
}

.py-12,
.py-12\@phone {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-12\.5,
.py-12\.5\@phone {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.py-13,
.py-13\@phone {
  padding-top: 6.55rem;
  padding-bottom: 6.55rem;
}

.py-13\.5,
.py-13\.5\@phone {
  padding-top: 6.75rem;
  padding-bottom: 6.75rem;
}

.py-14,
.py-14\@phone {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-14\.5,
.py-14\.5\@phone {
  padding-top: 7.25rem;
  padding-bottom: 7.25rem;
}

.py-15,
.py-15\@phone {
  padding-top: 7.25rem;
  padding-bottom: 7.25rem;
}

.py-auto,
.py-auto\@phone {
  padding-top: auto;
  padding-bottom: auto;
}

@media (max-width: $small-phone-max-width) {
  .p-0\@small-phone {
    padding: 0;
  }

  .p-0\.5\@small-phone {
    padding: 0.25rem;
  }

  .p-1\@small-phone {
    padding: 0.5rem;
  }

  .p-1\.5\@small-phone {
    padding: 0.75rem;
  }

  .p-2\@small-phone {
    padding: 1rem;
  }

  .p-2\.5\@small-phone {
    padding: 1.25rem;
  }

  .p-3\@small-phone {
    padding: 1.5rem;
  }

  .p-3\.5\@small-phone {
    padding: 1.75rem;
  }

  .p-4\@small-phone {
    padding: 2rem;
  }

  .p-4\.5\@small-phone {
    padding: 2.25rem;
  }

  .p-5\@small-phone {
    padding: 2.5rem;
  }

  .p-5\.5\@small-phone {
    padding: 2.75rem;
  }

  .p-6\@small-phone {
    padding: 3rem;
  }

  .p-6\.5\@small-phone {
    padding: 3.25rem;
  }

  .p-7\@small-phone {
    padding: 3.5rem;
  }

  .p-7\.5\@small-phone {
    padding: 3.75rem;
  }

  .p-8\@small-phone {
    padding: 4rem;
  }

  .p-8\.5\@small-phone {
    padding: 4.25rem;
  }

  .p-9\@small-phone {
    padding: 4.5rem;
  }

  .p-9\.5\@small-phone {
    padding: 4.75rem;
  }

  .p-10\@small-phone {
    padding: 5rem;
  }

  .p-10\.5\@small-phone {
    padding: 5.25rem;
  }

  .p-11\@small-phone {
    padding: 5.5rem;
  }

  .p-11\.5\@small-phone {
    padding: 5.75rem;
  }

  .p-12\@small-phone {
    padding: 6rem;
  }

  .p-12\.5\@small-phone {
    padding: 6.25rem;
  }

  .p-13\@small-phone {
    padding: 6.5rem;
  }

  .p-13\.5\@small-phone {
    padding: 6.75rem;
  }

  .p-14\@small-phone {
    padding: 7rem;
  }

  .p-14\.5\@small-phone {
    padding: 7.25rem;
  }

  .p-15\@small-phone {
    padding: 7.5rem;
  }

  .p-auto\@small-phone {
    padding: auto;
  }

  .pt-0\@small-phone {
    padding-top: 0;
  }

  .pt-0\.5\@small-phone {
    padding-top: 0.25rem;
  }

  .pt-1\@small-phone {
    padding-top: 0.5rem;
  }

  .pt-1\.5\@small-phone {
    padding-top: 0.75rem;
  }

  .pt-2\@small-phone {
    padding-top: 1rem;
  }

  .pt-2\.5\@small-phone {
    padding-top: 1.25rem;
  }

  .pt-3\@small-phone {
    padding-top: 1.5rem;
  }

  .pt-3\.5\@small-phone {
    padding-top: 1.75rem;
  }

  .pt-4\@small-phone {
    padding-top: 2rem;
  }

  .pt-4\.5\@small-phone {
    padding-top: 2.25rem;
  }

  .pt-5\@small-phone {
    padding-top: 2.5rem;
  }

  .pt-5\.5\@small-phone {
    padding-top: 2.75rem;
  }

  .pt-6\@small-phone {
    padding-top: 3rem;
  }

  .pt-6\.5\@small-phone {
    padding-top: 3.25rem;
  }

  .pt-7\@small-phone {
    padding-top: 3.5rem;
  }

  .pt-7\.5\@small-phone {
    padding-top: 3.75rem;
  }

  .pt-8\@small-phone {
    padding-top: 4rem;
  }

  .pt-8\.5\@small-phone {
    padding-top: 4.25rem;
  }

  .pt-9\@small-phone {
    padding-top: 4.5rem;
  }

  .pt-9\.5\@small-phone {
    padding-top: 4.75rem;
  }

  .pt-10\@small-phone {
    padding-top: 5rem;
  }

  .pt-10\.5\@small-phone {
    padding-top: 5.25rem;
  }

  .pt-11\@small-phone {
    padding-top: 5.5rem;
  }

  .pt-11\.5\@small-phone {
    padding-top: 5.75rem;
  }

  .pt-12\@small-phone {
    padding-top: 6rem;
  }

  .pt-12\.5\@small-phone {
    padding-top: 6.25rem;
  }

  .pt-13\@small-phone {
    padding-top: 6.5rem;
  }

  .pt-13\.5\@small-phone {
    padding-top: 6.75rem;
  }

  .pt-14\@small-phone {
    padding-top: 7rem;
  }

  .pt-14\.5\@small-phone {
    padding-top: 7.25rem;
  }

  .pt-15\@small-phone {
    padding-top: 7.5rem;
  }

  .pt-auto\@small-phone {
    padding-top: auto;
  }

  .pr-0\@small-phone {
    padding-right: 0;
  }

  .pr-0\.5\@small-phone {
    padding-right: 0.25rem;
  }

  .pr-1\@small-phone {
    padding-right: 0.5rem;
  }

  .pr-1\.5\@small-phone {
    padding-right: 0.75rem;
  }

  .pr-2\@small-phone {
    padding-right: 1rem;
  }

  .pr-2\.5\@small-phone {
    padding-right: 1.25rem;
  }

  .pr-3\@small-phone {
    padding-right: 1.5rem;
  }

  .pr-3\.5\@small-phone {
    padding-right: 1.75rem;
  }

  .pr-4\@small-phone {
    padding-right: 2rem;
  }

  .pr-4\.5\@small-phone {
    padding-right: 2.25rem;
  }

  .pr-5\@small-phone {
    padding-right: 2.5rem;
  }

  .pr-5\.5\@small-phone {
    padding-right: 2.75rem;
  }

  .pr-6\@small-phone {
    padding-right: 3rem;
  }

  .pr-6\.5\@small-phone {
    padding-right: 3.25rem;
  }

  .pr-7\@small-phone {
    padding-right: 3.5rem;
  }

  .pr-7\.5\@small-phone {
    padding-right: 3.75rem;
  }

  .pr-8\@small-phone {
    padding-right: 4rem;
  }

  .pr-8\.5\@small-phone {
    padding-right: 4.25rem;
  }

  .pr-9\@small-phone {
    padding-right: 4.5rem;
  }

  .pr-9\.5\@small-phone {
    padding-right: 4.75rem;
  }

  .pr-10\@small-phone {
    padding-right: 5rem;
  }

  .pr-10\.5\@small-phone {
    padding-right: 5.25rem;
  }

  .pr-11\@small-phone {
    padding-right: 5.5rem;
  }

  .pr-11\.5\@small-phone {
    padding-right: 5.75rem;
  }

  .pr-12\@small-phone {
    padding-right: 6rem;
  }

  .pr-12\.5\@small-phone {
    padding-right: 6.25rem;
  }

  .pr-13\@small-phone {
    padding-right: 6.5rem;
  }

  .pr-13\.5\@small-phone {
    padding-right: 6.75rem;
  }

  .pr-14\@small-phone {
    padding-right: 7rem;
  }

  .pr-14\.5\@small-phone {
    padding-right: 7.25rem;
  }

  .pr-15\@small-phone {
    padding-right: 7.5rem;
  }

  .pr-auto\@small-phone {
    padding-right: auto;
  }

  .pb-0\@small-small-phone {
    padding-bottom: 0;
  }

  .pb-0\.5\@small-phone {
    padding-bottom: 0.25rem;
  }

  .pb-1\@small-phone {
    padding-bottom: 0.5rem;
  }

  .pb-1\.5\@small-phone {
    padding-bottom: 0.75rem;
  }

  .pb-2\@small-phone {
    padding-bottom: 1rem;
  }

  .pb-2\.5\@small-phone {
    padding-bottom: 1.25rem;
  }

  .pb-3\@small-phone {
    padding-bottom: 1.5rem;
  }

  .pb-3\.5\@small-phone {
    padding-bottom: 1.75rem;
  }

  .pb-4\@small-phone {
    padding-bottom: 2rem;
  }

  .pb-4\.5\@small-phone {
    padding-bottom: 2.25rem;
  }

  .pb-5\@small-phone {
    padding-bottom: 2.5rem;
  }

  .pb-5\.5\@small-phone {
    padding-bottom: 2.75rem;
  }

  .pb-6\@small-phone {
    padding-bottom: 3rem;
  }

  .pb-6\.5\@small-phone {
    padding-bottom: 3.25rem;
  }

  .pb-7\@small-phone {
    padding-bottom: 3.5rem;
  }

  .pb-7\.5\@small-phone {
    padding-bottom: 3.75rem;
  }

  .pb-8\@small-phone {
    padding-bottom: 4rem;
  }

  .pb-8\.5\@small-phone {
    padding-bottom: 4.25rem;
  }

  .pb-9\@small-phone {
    padding-bottom: 4.5rem;
  }

  .pb-9\.5\@small-phone {
    padding-bottom: 4.75rem;
  }

  .pb-10\@small-phone {
    padding-bottom: 5rem;
  }

  .pb-10\.5\@small-phone {
    padding-bottom: 5.25rem;
  }

  .pb-11\@small-phone {
    padding-bottom: 5.5rem;
  }

  .pb-11\.5\@small-phone {
    padding-bottom: 5.75rem;
  }

  .pb-12\@small-phone {
    padding-bottom: 6rem;
  }

  .pb-12\.5\@small-phone {
    padding-bottom: 6.25rem;
  }

  .pb-13\@small-phone {
    padding-bottom: 6.5rem;
  }

  .pb-13\.5\@small-phone {
    padding-bottom: 6.75rem;
  }

  .pb-14\@small-phone {
    padding-bottom: 7rem;
  }

  .pb-14\.5\@small-phone {
    padding-bottom: 7.25rem;
  }

  .pb-15\@small-phone {
    padding-bottom: 7.5rem;
  }

  .pb-auto\@small-phone {
    padding-bottom: auto;
  }

  .pl-0\@small-phone {
    padding-left: 0;
  }

  .pl-0\.5\@small-phone {
    padding-left: 0.25rem;
  }

  .pl-1\@small-phone {
    padding-left: 0.5rem;
  }

  .pl-1\.5\@small-phone {
    padding-left: 0.75rem;
  }

  .pl-2\@small-phone {
    padding-left: 1rem;
  }

  .pl-2\.5\@small-phone {
    padding-left: 1.25rem;
  }

  .pl-3\@small-phone {
    padding-left: 1.5rem;
  }

  .pl-3\.5\@small-phone {
    padding-left: 1.75rem;
  }

  .pl-4\@small-phone {
    padding-left: 2rem;
  }

  .pl-4\.5\@small-phone {
    padding-left: 2.25rem;
  }

  .pl-5\@small-phone {
    padding-left: 2.5rem;
  }

  .pl-5\.5\@small-phone {
    padding-left: 2.75rem;
  }

  .pl-6\@small-phone {
    padding-left: 3rem;
  }

  .pl-6\.5\@small-phone {
    padding-left: 3.25rem;
  }

  .pl-7\@small-phone {
    padding-left: 3.5rem;
  }

  .pl-7\.5\@small-phone {
    padding-left: 3.75rem;
  }

  .pl-8\@small-phone {
    padding-left: 4rem;
  }

  .pl-8\.5\@small-phone {
    padding-left: 4.25rem;
  }

  .pl-9\@small-phone {
    padding-left: 4.5rem;
  }

  .pl-9\.5\@small-phone {
    padding-left: 4.75rem;
  }

  .pl-10\@small-phone {
    padding-left: 5rem;
  }

  .pl-10\.5\@small-phone {
    padding-left: 5.25rem;
  }

  .pl-11\@small-phone {
    padding-left: 5.5rem;
  }

  .pl-11\.5\@small-phone {
    padding-left: 5.75rem;
  }

  .pl-12\@small-phone {
    padding-left: 6rem;
  }

  .pl-12\.5\@small-phone {
    padding-left: 6.25rem;
  }

  .pl-13\@small-phone {
    padding-left: 6.5rem;
  }

  .pl-13\.5\@small-phone {
    padding-left: 6.75rem;
  }

  .pl-14\@small-phone {
    padding-left: 7rem;
  }

  .pl-14\.5\@small-phone {
    padding-left: 7.25rem;
  }

  .pl-15\@small-phone {
    padding-left: 7.5rem;
  }

  .pl-auto\@small-phone {
    padding-left: auto;
  }

  .px-0\@small-phone {
    padding-right: 0;
    padding-left: 0;
  }

  .px-0\.5\@small-phone {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .px-1\@small-phone {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .px-1\.5\@small-phone {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .px-2\@small-phone {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .px-2\.5\@small-phone {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .px-3\@small-phone {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .px-3\.5\@small-phone {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  .px-4\@small-phone {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .px-4\.5\@small-phone {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }

  .px-5\@small-phone {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .px-5\.5\@small-phone {
    padding-right: 2.75rem;
    padding-left: 2.75rem;
  }

  .px-6\@small-phone {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .px-6\.5\@small-phone {
    padding-right: 3.25rem;
    padding-left: 3.25rem;
  }

  .px-7\@small-phone {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }

  .px-7\.5\@small-phone {
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }

  .px-8\@small-phone {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .px-8\.5\@small-phone {
    padding-right: 4.25rem;
    padding-left: 4.25rem;
  }

  .px-9\@small-phone {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }

  .px-9\.5\@small-phone {
    padding-right: 4.75rem;
    padding-left: 4.75rem;
  }

  .px-10\@small-phone {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .px-10\.5\@small-phone {
    padding-right: 5.25rem;
    padding-left: 5.25rem;
  }

  .px-11\@small-phone {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
  }

  .px-11\.5\@small-phone {
    padding-right: 5.75rem;
    padding-left: 5.75rem;
  }

  .px-12\@small-phone {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .px-12\.5\@small-phone {
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }

  .px-13\@small-phone {
    padding-right: 6.55rem;
    padding-left: 6.55rem;
  }

  .px-13\.5\@small-phone {
    padding-right: 6.75rem;
    padding-left: 6.75rem;
  }

  .px-14\@small-phone {
    padding-right: 7rem;
    padding-left: 7rem;
  }

  .px-14\.5\@small-phone {
    padding-right: 7.25rem;
    padding-left: 7.25rem;
  }

  .px-15\@small-phone {
    padding-right: 7.25rem;
    padding-left: 7.25rem;
  }

  .px-auto\@small-phone {
    padding-right: auto;
    padding-left: auto;
  }

  .py-0\@small-phone {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-0\.5\@small-phone {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .py-1\@small-phone {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .py-1\.5\@phone {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .py-2\@small-phone {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .py-2\.5\@small-phone {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .py-3\@small-phone {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .py-3\.5\@small-phone {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .py-4\@small-phone {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .py-4\.5\@small-phone {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .py-5\@small-phone {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .py-5\.5\@small-phone {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .py-6\@small-phone {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .py-6\.5\@small-phone {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
  }

  .py-7\@small-phone {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .py-7\.5\@small-phone {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .py-8\@small-phone {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .py-8\.5\@small-phone {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
  }

  .py-9\@small-phone {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .py-9\.5\@small-phone {
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
  }

  .py-10\@small-phone {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .py-10\.5\@small-phone {
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
  }

  .py-11\@small-phone {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  .py-11\.5\@small-phone {
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
  }

  .py-12\@small-phone {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .py-12\.5\@small-phone {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .py-13\@small-phone {
    padding-top: 6.55rem;
    padding-bottom: 6.55rem;
  }

  .py-13\.5\@small-phone {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
  }

  .py-14\@small-phone {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .py-14\.5\@small-phone {
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
  }

  .py-15\@small-phone {
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
  }

  .py-auto\@small-phone {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .p-0\@tablet {
    padding: 0;
  }

  .p-0\.5\@tablet {
    padding: 0.25rem;
  }

  .p-1\@tablet {
    padding: 0.5rem;
  }

  .p-1\.5\@tablet {
    padding: 0.75rem;
  }

  .p-2\@tablet {
    padding: 1rem;
  }

  .p-2\.5\@tablet {
    padding: 1.25rem;
  }

  .p-3\@tablet {
    padding: 1.5rem;
  }

  .p-3\.5\@tablet {
    padding: 1.75rem;
  }

  .p-4\@tablet {
    padding: 2rem;
  }

  .p-4\.5\@tablet {
    padding: 2.25rem;
  }

  .p-5\@tablet {
    padding: 2.5rem;
  }

  .p-5\.5\@tablet {
    padding: 2.75rem;
  }

  .p-6\@tablet {
    padding: 3rem;
  }

  .p-6\.5\@tablet {
    padding: 3.25rem;
  }

  .p-7\@tablet {
    padding: 3.5rem;
  }

  .p-7\.5\@tablet {
    padding: 3.75rem;
  }

  .p-8\@tablet {
    padding: 4rem;
  }

  .p-8\.5\@tablet {
    padding: 4.25rem;
  }

  .p-9\@tablet {
    padding: 4.5rem;
  }

  .p-9\.5\@tablet {
    padding: 4.75rem;
  }

  .p-10\@tablet {
    padding: 5rem;
  }

  .p-10\.5\@tablet {
    padding: 5.25rem;
  }

  .p-11\@tablet {
    padding: 5.5rem;
  }

  .p-11\.5\@tablet {
    padding: 5.75rem;
  }

  .p-12\@tablet {
    padding: 6rem;
  }

  .p-12\.5\@tablet {
    padding: 6.25rem;
  }

  .p-13\@tablet {
    padding: 6.5rem;
  }

  .p-13\.5\@tablet {
    padding: 6.75rem;
  }

  .p-14\@tablet {
    padding: 7rem;
  }

  .p-14\.5\@tablet {
    padding: 7.25rem;
  }

  .p-15\@tablet {
    padding: 7.5rem;
  }

  .p-auto\@tablet {
    padding: auto;
  }

  .pt-0\@tablet {
    padding-top: 0;
  }

  .pt-0\.5\@tablet {
    padding-top: 0.25rem;
  }

  .pt-1\@tablet {
    padding-top: 0.5rem;
  }

  .pt-1\.5\@tablet {
    padding-top: 0.75rem;
  }

  .pt-2\@tablet {
    padding-top: 1rem;
  }

  .pt-2\.5\@tablet {
    padding-top: 1.25rem;
  }

  .pt-3\@tablet {
    padding-top: 1.5rem;
  }

  .pt-3\.5\@tablet {
    padding-top: 1.75rem;
  }

  .pt-4\@tablet {
    padding-top: 2rem;
  }

  .pt-4\.5\@tablet {
    padding-top: 2.25rem;
  }

  .pt-5\@tablet {
    padding-top: 2.5rem;
  }

  .pt-5\.5\@tablet {
    padding-top: 2.75rem;
  }

  .pt-6\@tablet {
    padding-top: 3rem;
  }

  .pt-6\.5\@tablet {
    padding-top: 3.25rem;
  }

  .pt-7\@tablet {
    padding-top: 3.5rem;
  }

  .pt-7\.5\@tablet {
    padding-top: 3.75rem;
  }

  .pt-8\@tablet {
    padding-top: 4rem;
  }

  .pt-8\.5\@tablet {
    padding-top: 4.25rem;
  }

  .pt-9\@tablet {
    padding-top: 4.5rem;
  }

  .pt-9\.5\@tablet {
    padding-top: 4.75rem;
  }

  .pt-10\@tablet {
    padding-top: 5rem;
  }

  .pt-10\.5\@tablet {
    padding-top: 5.25rem;
  }

  .pt-11\@tablet {
    padding-top: 5.5rem;
  }

  .pt-11\.5\@tablet {
    padding-top: 5.75rem;
  }

  .pt-12\@tablet {
    padding-top: 6rem;
  }

  .pt-12\.5\@tablet {
    padding-top: 6.25rem;
  }

  .pt-13\@tablet {
    padding-top: 6.5rem;
  }

  .pt-13\.5\@tablet {
    padding-top: 6.75rem;
  }

  .pt-14\@tablet {
    padding-top: 7rem;
  }

  .pt-14\.5\@tablet {
    padding-top: 7.25rem;
  }

  .pt-15\@tablet {
    padding-top: 7.5rem;
  }

  .pt-auto\@tablet {
    padding-top: auto;
  }

  .pr-0\@tablet {
    padding-right: 0;
  }

  .pr-0\.5\@tablet {
    padding-right: 0.25rem;
  }

  .pr-1\@tablet {
    padding-right: 0.5rem;
  }

  .pr-1\.5\@tablet {
    padding-right: 0.75rem;
  }

  .pr-2\@tablet {
    padding-right: 1rem;
  }

  .pr-2\.5\@tablet {
    padding-right: 1.25rem;
  }

  .pr-3\@tablet {
    padding-right: 1.5rem;
  }

  .pr-3\.5\@tablet {
    padding-right: 1.75rem;
  }

  .pr-4\@tablet {
    padding-right: 2rem;
  }

  .pr-4\.5\@tablet {
    padding-right: 2.25rem;
  }

  .pr-5\@tablet {
    padding-right: 2.5rem;
  }

  .pr-5\.5\@tablet {
    padding-right: 2.75rem;
  }

  .pr-6\@tablet {
    padding-right: 3rem;
  }

  .pr-6\.5\@tablet {
    padding-right: 3.25rem;
  }

  .pr-7\@tablet {
    padding-right: 3.5rem;
  }

  .pr-7\.5\@tablet {
    padding-right: 3.75rem;
  }

  .pr-8\@tablet {
    padding-right: 4rem;
  }

  .pr-8\.5\@tablet {
    padding-right: 4.25rem;
  }

  .pr-9\@tablet {
    padding-right: 4.5rem;
  }

  .pr-9\.5\@tablet {
    padding-right: 4.75rem;
  }

  .pr-10\@tablet {
    padding-right: 5rem;
  }

  .pr-10\.5\@tablet {
    padding-right: 5.25rem;
  }

  .pr-11\@tablet {
    padding-right: 5.5rem;
  }

  .pr-11\.5\@tablet {
    padding-right: 5.75rem;
  }

  .pr-12\@tablet {
    padding-right: 6rem;
  }

  .pr-12\.5\@tablet {
    padding-right: 6.25rem;
  }

  .pr-13\@tablet {
    padding-right: 6.5rem;
  }

  .pr-13\.5\@tablet {
    padding-right: 6.75rem;
  }

  .pr-14\@tablet {
    padding-right: 7rem;
  }

  .pr-14\.5\@tablet {
    padding-right: 7.25rem;
  }

  .pr-15\@tablet {
    padding-right: 7.5rem;
  }

  .pr-auto\@tablet {
    padding-right: auto;
  }

  .pb-0\@tablet {
    padding-bottom: 0;
  }

  .pb-0\.5\@tablet {
    padding-bottom: 0.25rem;
  }

  .pb-1\@tablet {
    padding-bottom: 0.5rem;
  }

  .pb-1\.5\@tablet {
    padding-bottom: 0.75rem;
  }

  .pb-2\@tablet {
    padding-bottom: 1rem;
  }

  .pb-2\.5\@tablet {
    padding-bottom: 1.25rem;
  }

  .pb-3\@tablet {
    padding-bottom: 1.5rem;
  }

  .pb-3\.5\@tablet {
    padding-bottom: 1.75rem;
  }

  .pb-4\@tablet {
    padding-bottom: 2rem;
  }

  .pb-4\.5\@tablet {
    padding-bottom: 2.25rem;
  }

  .pb-5\@tablet {
    padding-bottom: 2.5rem;
  }

  .pb-5\.5\@tablet {
    padding-bottom: 2.75rem;
  }

  .pb-6\@tablet {
    padding-bottom: 3rem;
  }

  .pb-6\.5\@tablet {
    padding-bottom: 3.25rem;
  }

  .pb-7\@tablet {
    padding-bottom: 3.5rem;
  }

  .pb-7\.5\@tablet {
    padding-bottom: 3.75rem;
  }

  .pb-8\@tablet {
    padding-bottom: 4rem;
  }

  .pb-8\.5\@tablet {
    padding-bottom: 4.25rem;
  }

  .pb-9\@tablet {
    padding-bottom: 4.5rem;
  }

  .pb-9\.5\@tablet {
    padding-bottom: 4.75rem;
  }

  .pb-10\@tablet {
    padding-bottom: 5rem;
  }

  .pb-10\.5\@tablet {
    padding-bottom: 5.25rem;
  }

  .pb-11\@tablet {
    padding-bottom: 5.5rem;
  }

  .pb-11\.5\@tablet {
    padding-bottom: 5.75rem;
  }

  .pb-12\@tablet {
    padding-bottom: 6rem;
  }

  .pb-12\.5\@tablet {
    padding-bottom: 6.25rem;
  }

  .pb-13\@tablet {
    padding-bottom: 6.5rem;
  }

  .pb-13\.5\@tablet {
    padding-bottom: 6.75rem;
  }

  .pb-14\@tablet {
    padding-bottom: 7rem;
  }

  .pb-14\.5\@tablet {
    padding-bottom: 7.25rem;
  }

  .pb-15\@tablet {
    padding-bottom: 7.5rem;
  }

  .pb-auto\@tablet {
    padding-bottom: auto;
  }

  .pl-0\@tablet {
    padding-left: 0;
  }

  .pl-0\.5\@tablet {
    padding-left: 0.25rem;
  }

  .pl-1\@tablet {
    padding-left: 0.5rem;
  }

  .pl-1\.5\@tablet {
    padding-left: 0.75rem;
  }

  .pl-2\@tablet {
    padding-left: 1rem;
  }

  .pl-2\.5\@tablet {
    padding-left: 1.25rem;
  }

  .pl-3\@tablet {
    padding-left: 1.5rem;
  }

  .pl-3\.5\@tablet {
    padding-left: 1.75rem;
  }

  .pl-4\@tablet {
    padding-left: 2rem;
  }

  .pl-4\.5\@tablet {
    padding-left: 2.25rem;
  }

  .pl-5\@tablet {
    padding-left: 2.5rem;
  }

  .pl-5\.5\@tablet {
    padding-left: 2.75rem;
  }

  .pl-6\@tablet {
    padding-left: 3rem;
  }

  .pl-6\.5\@tablet {
    padding-left: 3.25rem;
  }

  .pl-7\@tablet {
    padding-left: 3.5rem;
  }

  .pl-7\.5\@tablet {
    padding-left: 3.75rem;
  }

  .pl-8\@tablet {
    padding-left: 4rem;
  }

  .pl-8\.5\@tablet {
    padding-left: 4.25rem;
  }

  .pl-9\@tablet {
    padding-left: 4.5rem;
  }

  .pl-9\.5\@tablet {
    padding-left: 4.75rem;
  }

  .pl-10\@tablet {
    padding-left: 5rem;
  }

  .pl-10\.5\@tablet {
    padding-left: 5.25rem;
  }

  .pl-11\@tablet {
    padding-left: 5.5rem;
  }

  .pl-11\.5\@tablet {
    padding-left: 5.75rem;
  }

  .pl-12\@tablet {
    padding-left: 6rem;
  }

  .pl-12\.5\@tablet {
    padding-left: 6.25rem;
  }

  .pl-13\@tablet {
    padding-left: 6.5rem;
  }

  .pl-13\.5\@tablet {
    padding-left: 6.75rem;
  }

  .pl-14\@tablet {
    padding-left: 7rem;
  }

  .pl-14\.5\@tablet {
    padding-left: 7.25rem;
  }

  .pl-15\@tablet {
    padding-left: 7.5rem;
  }

  .pl-auto\@tablet {
    padding-left: auto;
  }

  .px-0\@tablet {
    padding-right: 0;
    padding-left: 0;
  }

  .px-0\.5\@tablet {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .px-1\@tablet {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .px-1\.5\@tablet {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .px-2\@tablet {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .px-2\.5\@tablet {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .px-3\@tablet {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .px-3\.5\@tablet {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  .px-4\@tablet {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .px-4\.5\@tablet {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }

  .px-5\@tablet {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .px-5\.5\@tablet {
    padding-right: 2.75rem;
    padding-left: 2.75rem;
  }

  .px-6\@tablet {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .px-6\.5\@tablet {
    padding-right: 3.25rem;
    padding-left: 3.25rem;
  }

  .px-7\@tablet {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }

  .px-7\.5\@tablet {
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }

  .px-8\@tablet {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .px-8\.5\@tablet {
    padding-right: 4.25rem;
    padding-left: 4.25rem;
  }

  .px-9\@tablet {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }

  .px-9\.5\@tablet {
    padding-right: 4.75rem;
    padding-left: 4.75rem;
  }

  .px-10\@tablet {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .px-10\.5\@tablet {
    padding-right: 5.25rem;
    padding-left: 5.25rem;
  }

  .px-11\@tablet {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
  }

  .px-11\.5\@tablet {
    padding-right: 5.75rem;
    padding-left: 5.75rem;
  }

  .px-12\@tablet {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .px-12\.5\@tablet {
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }

  .px-13\@tablet {
    padding-right: 6.55rem;
    padding-left: 6.55rem;
  }

  .px-13\.5\@tablet {
    padding-right: 6.75rem;
    padding-left: 6.75rem;
  }

  .px-14\@tablet {
    padding-right: 7rem;
    padding-left: 7rem;
  }

  .px-14\.5\@tablet {
    padding-right: 7.25rem;
    padding-left: 7.25rem;
  }

  .px-15\@tablet {
    padding-right: 7.25rem;
    padding-left: 7.25rem;
  }

  .px-auto\@tablet {
    padding-right: auto;
    padding-left: auto;
  }

  .py-0\@tablet {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-0\.5\@tablet {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .py-1\@tablet {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .py-1\.5\@tablet {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .py-2\@tablet {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .py-2\.5\@tablet {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .py-3\@tablet {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .py-3\.5\@tablet {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .py-4\@tablet {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .py-4\.5\@tablet {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .py-5\@tablet {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .py-5\.5\@tablet {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .py-6\@tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .py-6\.5\@tablet {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
  }

  .py-7\@tablet {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .py-7\.5\@tablet {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .py-8\@tablet {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .py-8\.5\@tablet {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
  }

  .py-9\@tablet {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .py-9\.5\@tablet {
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
  }

  .py-10\@tablet {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .py-10\.5\@tablet {
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
  }

  .py-11\@tablet {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  .py-11\.5\@tablet {
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
  }

  .py-12\@tablet {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .py-12\.5\@tablet {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .py-13\@tablet {
    padding-top: 6.55rem;
    padding-bottom: 6.55rem;
  }

  .py-13\.5\@tablet {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
  }

  .py-14\@tablet {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .py-14\.5\@tablet {
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
  }

  .py-15\@tablet {
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
  }

  .py-auto\@tablet {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: $laptop-min-width) {
  .p-0\@laptop {
    padding: 0;
  }

  .p-0\.5\@laptop {
    padding: 0.25rem;
  }

  .p-1\@laptop {
    padding: 0.5rem;
  }

  .p-1\.5\@laptop {
    padding: 0.75rem;
  }

  .p-2\@laptop {
    padding: 1rem;
  }

  .p-2\.5\@laptop {
    padding: 1.25rem;
  }

  .p-3\@laptop {
    padding: 1.5rem;
  }

  .p-3\.5\@laptop {
    padding: 1.75rem;
  }

  .p-4\@laptop {
    padding: 2rem;
  }

  .p-4\.5\@laptop {
    padding: 2.25rem;
  }

  .p-5\@laptop {
    padding: 2.5rem;
  }

  .p-5\.5\@laptop {
    padding: 2.75rem;
  }

  .p-6\@laptop {
    padding: 3rem;
  }

  .p-6\.5\@laptop {
    padding: 3.25rem;
  }

  .p-7\@laptop {
    padding: 3.5rem;
  }

  .p-7\.5\@laptop {
    padding: 3.75rem;
  }

  .p-8\@laptop {
    padding: 4rem;
  }

  .p-8\.5\@laptop {
    padding: 4.25rem;
  }

  .p-9\@laptop {
    padding: 4.5rem;
  }

  .p-9\.5\@laptop {
    padding: 4.75rem;
  }

  .p-10\@laptop {
    padding: 5rem;
  }

  .p-10\.5\@laptop {
    padding: 5.25rem;
  }

  .p-11\@laptop {
    padding: 5.5rem;
  }

  .p-11\.5\@laptop {
    padding: 5.75rem;
  }

  .p-12\@laptop {
    padding: 6rem;
  }

  .p-12\.5\@laptop {
    padding: 6.25rem;
  }

  .p-13\@laptop {
    padding: 6.5rem;
  }

  .p-13\.5\@laptop {
    padding: 6.75rem;
  }

  .p-14\@laptop {
    padding: 7rem;
  }

  .p-14\.5\@laptop {
    padding: 7.25rem;
  }

  .p-15\@laptop {
    padding: 7.5rem;
  }

  .p-auto\@laptop {
    padding: auto;
  }

  .pt-0\@laptop {
    padding-top: 0;
  }

  .pt-0\.5\@laptop {
    padding-top: 0.25rem;
  }

  .pt-1\@laptop {
    padding-top: 0.5rem;
  }

  .pt-1\.5\@laptop {
    padding-top: 0.75rem;
  }

  .pt-2\@laptop {
    padding-top: 1rem;
  }

  .pt-2\.5\@laptop {
    padding-top: 1.25rem;
  }

  .pt-3\@laptop {
    padding-top: 1.5rem;
  }

  .pt-3\.5\@laptop {
    padding-top: 1.75rem;
  }

  .pt-4\@laptop {
    padding-top: 2rem;
  }

  .pt-4\.5\@laptop {
    padding-top: 2.25rem;
  }

  .pt-5\@laptop {
    padding-top: 2.5rem;
  }

  .pt-5\.5\@laptop {
    padding-top: 2.75rem;
  }

  .pt-6\@laptop {
    padding-top: 3rem;
  }

  .pt-6\.5\@laptop {
    padding-top: 3.25rem;
  }

  .pt-7\@laptop {
    padding-top: 3.5rem;
  }

  .pt-7\.5\@laptop {
    padding-top: 3.75rem;
  }

  .pt-8\@laptop {
    padding-top: 4rem;
  }

  .pt-8\.5\@laptop {
    padding-top: 4.25rem;
  }

  .pt-9\@laptop {
    padding-top: 4.5rem;
  }

  .pt-9\.5\@laptop {
    padding-top: 4.75rem;
  }

  .pt-10\@laptop {
    padding-top: 5rem;
  }

  .pt-10\.5\@laptop {
    padding-top: 5.25rem;
  }

  .pt-11\@laptop {
    padding-top: 5.5rem;
  }

  .pt-11\.5\@laptop {
    padding-top: 5.75rem;
  }

  .pt-12\@laptop {
    padding-top: 6rem;
  }

  .pt-12\.5\@laptop {
    padding-top: 6.25rem;
  }

  .pt-13\@laptop {
    padding-top: 6.5rem;
  }

  .pt-13\.5\@laptop {
    padding-top: 6.75rem;
  }

  .pt-14\@laptop {
    padding-top: 7rem;
  }

  .pt-14\.5\@laptop {
    padding-top: 7.25rem;
  }

  .pt-15\@laptop {
    padding-top: 7.5rem;
  }

  .pt-auto\@laptop {
    padding-top: auto;
  }

  .pr-0\@laptop {
    padding-right: 0;
  }

  .pr-0\.5\@laptop {
    padding-right: 0.25rem;
  }

  .pr-1\@laptop {
    padding-right: 0.5rem;
  }

  .pr-1\.5\@laptop {
    padding-right: 0.75rem;
  }

  .pr-2\@laptop {
    padding-right: 1rem;
  }

  .pr-2\.5\@laptop {
    padding-right: 1.25rem;
  }

  .pr-3\@laptop {
    padding-right: 1.5rem;
  }

  .pr-3\.5\@laptop {
    padding-right: 1.75rem;
  }

  .pr-4\@laptop {
    padding-right: 2rem;
  }

  .pr-4\.5\@laptop {
    padding-right: 2.25rem;
  }

  .pr-5\@laptop {
    padding-right: 2.5rem;
  }

  .pr-5\.5\@laptop {
    padding-right: 2.75rem;
  }

  .pr-6\@laptop {
    padding-right: 3rem;
  }

  .pr-6\.5\@laptop {
    padding-right: 3.25rem;
  }

  .pr-7\@laptop {
    padding-right: 3.5rem;
  }

  .pr-7\.5\@laptop {
    padding-right: 3.75rem;
  }

  .pr-8\@laptop {
    padding-right: 4rem;
  }

  .pr-8\.5\@laptop {
    padding-right: 4.25rem;
  }

  .pr-9\@laptop {
    padding-right: 4.5rem;
  }

  .pr-9\.5\@laptop {
    padding-right: 4.75rem;
  }

  .pr-10\@laptop {
    padding-right: 5rem;
  }

  .pr-10\.5\@laptop {
    padding-right: 5.25rem;
  }

  .pr-11\@laptop {
    padding-right: 5.5rem;
  }

  .pr-11\.5\@laptop {
    padding-right: 5.75rem;
  }

  .pr-12\@laptop {
    padding-right: 6rem;
  }

  .pr-12\.5\@laptop {
    padding-right: 6.25rem;
  }

  .pr-13\@laptop {
    padding-right: 6.5rem;
  }

  .pr-13\.5\@laptop {
    padding-right: 6.75rem;
  }

  .pr-14\@laptop {
    padding-right: 7rem;
  }

  .pr-14\.5\@laptop {
    padding-right: 7.25rem;
  }

  .pr-15\@laptop {
    padding-right: 7.5rem;
  }

  .pr-auto\@laptop {
    padding-right: auto;
  }

  .pb-0\@laptop {
    padding-bottom: 0;
  }

  .pb-0\.5\@laptop {
    padding-bottom: 0.25rem;
  }

  .pb-1\@laptop {
    padding-bottom: 0.5rem;
  }

  .pb-1\.5\@laptop {
    padding-bottom: 0.75rem;
  }

  .pb-2\@laptop {
    padding-bottom: 1rem;
  }

  .pb-2\.5\@laptop {
    padding-bottom: 1.25rem;
  }

  .pb-3\@laptop {
    padding-bottom: 1.5rem;
  }

  .pb-3\.5\@laptop {
    padding-bottom: 1.75rem;
  }

  .pb-4\@laptop {
    padding-bottom: 2rem;
  }

  .pb-4\.5\@laptop {
    padding-bottom: 2.25rem;
  }

  .pb-5\@laptop {
    padding-bottom: 2.5rem;
  }

  .pb-5\.5\@laptop {
    padding-bottom: 2.75rem;
  }

  .pb-6\@laptop {
    padding-bottom: 3rem;
  }

  .pb-6\.5\@laptop {
    padding-bottom: 3.25rem;
  }

  .pb-7\@laptop {
    padding-bottom: 3.5rem;
  }

  .pb-7\.5\@laptop {
    padding-bottom: 3.75rem;
  }

  .pb-8\@laptop {
    padding-bottom: 4rem;
  }

  .pb-8\.5\@laptop {
    padding-bottom: 4.25rem;
  }

  .pb-9\@laptop {
    padding-bottom: 4.5rem;
  }

  .pb-9\.5\@laptop {
    padding-bottom: 4.75rem;
  }

  .pb-10\@laptop {
    padding-bottom: 5rem;
  }

  .pb-10\.5\@laptop {
    padding-bottom: 5.25rem;
  }

  .pb-11\@laptop {
    padding-bottom: 5.5rem;
  }

  .pb-11\.5\@laptop {
    padding-bottom: 5.75rem;
  }

  .pb-12\@laptop {
    padding-bottom: 6rem;
  }

  .pb-12\.5\@laptop {
    padding-bottom: 6.25rem;
  }

  .pb-13\@laptop {
    padding-bottom: 6.5rem;
  }

  .pb-13\.5\@laptop {
    padding-bottom: 6.75rem;
  }

  .pb-14\@laptop {
    padding-bottom: 7rem;
  }

  .pb-14\.5\@laptop {
    padding-bottom: 7.25rem;
  }

  .pb-15\@laptop {
    padding-bottom: 7.5rem;
  }

  .pb-auto\@laptop {
    padding-bottom: auto;
  }

  .pl-0\@laptop {
    padding-left: 0;
  }

  .pl-0\.5\@laptop {
    padding-left: 0.25rem;
  }

  .pl-1\@laptop {
    padding-left: 0.5rem;
  }

  .pl-1\.5\@laptop {
    padding-left: 0.75rem;
  }

  .pl-2\@laptop {
    padding-left: 1rem;
  }

  .pl-2\.5\@laptop {
    padding-left: 1.25rem;
  }

  .pl-3\@laptop {
    padding-left: 1.5rem;
  }

  .pl-3\.5\@laptop {
    padding-left: 1.75rem;
  }

  .pl-4\@laptop {
    padding-left: 2rem;
  }

  .pl-4\.5\@laptop {
    padding-left: 2.25rem;
  }

  .pl-5\@laptop {
    padding-left: 2.5rem;
  }

  .pl-5\.5\@laptop {
    padding-left: 2.75rem;
  }

  .pl-6\@laptop {
    padding-left: 3rem;
  }

  .pl-6\.5\@laptop {
    padding-left: 3.25rem;
  }

  .pl-7\@laptop {
    padding-left: 3.5rem;
  }

  .pl-7\.5\@laptop {
    padding-left: 3.75rem;
  }

  .pl-8\@laptop {
    padding-left: 4rem;
  }

  .pl-8\.5\@laptop {
    padding-left: 4.25rem;
  }

  .pl-9\@laptop {
    padding-left: 4.5rem;
  }

  .pl-9\.5\@laptop {
    padding-left: 4.75rem;
  }

  .pl-10\@laptop {
    padding-left: 5rem;
  }

  .pl-10\.5\@laptop {
    padding-left: 5.25rem;
  }

  .pl-11\@laptop {
    padding-left: 5.5rem;
  }

  .pl-11\.5\@laptop {
    padding-left: 5.75rem;
  }

  .pl-12\@laptop {
    padding-left: 6rem;
  }

  .pl-12\.5\@laptop {
    padding-left: 6.25rem;
  }

  .pl-13\@laptop {
    padding-left: 6.5rem;
  }

  .pl-13\.5\@laptop {
    padding-left: 6.75rem;
  }

  .pl-14\@laptop {
    padding-left: 7rem;
  }

  .pl-14\.5\@laptop {
    padding-left: 7.25rem;
  }

  .pl-15\@laptop {
    padding-left: 7.5rem;
  }

  .pl-auto\@laptop {
    padding-left: auto;
  }

  .px-0\@laptop {
    padding-right: 0;
    padding-left: 0;
  }

  .px-0\.5\@laptop {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .px-1\@laptop {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .px-1\.5\@laptop {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .px-2\@laptop {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .px-2\.5\@laptop {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .px-3\@laptop {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .px-3\.5\@laptop {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  .px-4\@laptop {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .px-4\.5\@laptop {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }

  .px-5\@laptop {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .px-5\.5\@laptop {
    padding-right: 2.75rem;
    padding-left: 2.75rem;
  }

  .px-6\@laptop {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .px-6\.5\@laptop {
    padding-right: 3.25rem;
    padding-left: 3.25rem;
  }

  .px-7\@laptop {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }

  .px-7\.5\@laptop {
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }

  .px-8\@laptop {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .px-8\.5\@laptop {
    padding-right: 4.25rem;
    padding-left: 4.25rem;
  }

  .px-9\@laptop {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }

  .px-9\.5\@laptop {
    padding-right: 4.75rem;
    padding-left: 4.75rem;
  }

  .px-10\@laptop {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .px-10\.5\@laptop {
    padding-right: 5.25rem;
    padding-left: 5.25rem;
  }

  .px-11\@laptop {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
  }

  .px-11\.5\@laptop {
    padding-right: 5.75rem;
    padding-left: 5.75rem;
  }

  .px-12\@laptop {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .px-12\.5\@laptop {
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }

  .px-13\@laptop {
    padding-right: 6.55rem;
    padding-left: 6.55rem;
  }

  .px-13\.5\@laptop {
    padding-right: 6.75rem;
    padding-left: 6.75rem;
  }

  .px-14\@laptop {
    padding-right: 7rem;
    padding-left: 7rem;
  }

  .px-14\.5\@laptop {
    padding-right: 7.25rem;
    padding-left: 7.25rem;
  }

  .px-15\@laptop {
    padding-right: 7.25rem;
    padding-left: 7.25rem;
  }

  .px-auto\@laptop {
    padding-right: auto;
    padding-left: auto;
  }

  .py-0\@laptop {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-0\.5\@laptop {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .py-1\@laptop {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .py-1\.5\@laptop {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .py-2\@laptop {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .py-2\.5\@laptop {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .py-3\@laptop {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .py-3\.5\@laptop {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .py-4\@laptop {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .py-4\.5\@laptop {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .py-5\@laptop {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .py-5\.5\@laptop {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .py-6\@laptop {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .py-6\.5\@laptop {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
  }

  .py-7\@laptop {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .py-7\.5\@laptop {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .py-8\@laptop {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .py-8\.5\@laptop {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
  }

  .py-9\@laptop {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .py-9\.5\@laptop {
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
  }

  .py-10\@laptop {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .py-10\.5\@laptop {
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
  }

  .py-11\@laptop {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  .py-11\.5\@laptop {
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
  }

  .py-12\@laptop {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .py-12\.5\@laptop {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .py-13\@laptop {
    padding-top: 6.55rem;
    padding-bottom: 6.55rem;
  }

  .py-13\.5\@laptop {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
  }

  .py-14\@laptop {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .py-14\.5\@laptop {
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
  }

  .py-15\@laptop {
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
  }

  .py-auto\@laptop {
    padding-top: auto;
    padding-bottom: auto;
  }
}
