.t-0,
.t-0\@phone {
  top: 0;
}

.t-0\.5,
.t-0\@phone {
  top: 0.25rem;
}

.t-1,
.t-1\@phone {
  top: 0.5rem;
}

.t-1\.5,
.t-1\.5\@phone {
  top: 0.75rem;
}

.t-2,
.t-2\@phone {
  top: 1rem;
}

.t-2\.5,
.t-2\.5\@phone {
  top: 1.25rem;
}

.t-3,
.t-3\@phone {
  top: 1.5rem;
}

.t-3\.5,
.t-3\.5\@phone {
  top: 1.75rem;
}

.t-4,
.t-4\@phone {
  top: 2rem;
}

.t-4\.5,
.t-4\.5\@phone {
  top: 2.25rem;
}

.t-5,
.t-5\@phone {
  top: 2.5rem;
}

.t-5\.5,
.t-5\.5\@phone {
  top: 2.75rem;
}

.t-6,
.t-6\@phone {
  top: 3rem;
}

.t-6\.5,
.t-6\.5\@phone {
  top: 3.25rem;
}

.t-7,
.t-7\@phone {
  top: 3.5;
}

.t-7\.5,
.t-7\.5\@phone {
  top: 3.75rem;
}

.t-8,
.t-8\@phone {
  top: 4rem;
}

.t-8\.5,
.t-8\.5\@phone {
  top: 4.25rem;
}

.t-9,
.t-9\@phone {
  top: 4.5rem;
}

.t-9\.5,
.t-9\.5\@phone {
  top: 4.75rem;
}

.t-10,
.t-10\@phone {
  top: 5rem;
}

.t-10\.5,
.t-10\.5\@phone {
  top: 5.25rem;
}

.t-11,
.t-11\@phone {
  top: 5.5rem;
}

.t-11\.5,
.t-11\.5\@phone {
  top: 5.75rem;
}

.t-12,
.t-12\@phone {
  top: 6rem;
}

.t-12\.5,
.t-12\.5\@phone {
  top: 6.25rem;
}

.t-13,
.t-13\@phone {
  top: 6.5rem;
}

.t-13\.5,
.t-13\.5\@phone {
  top: 6.75rem;
}

.t-14,
.t-14\@phone {
  top: 7rem;
}

.t-14\.5,
.t-14\.5\@phone {
  top: 7.25rem;
}

.t-15,
.t-15\@phone {
  top: 7.5rem;
}

.t-auto,
.t-auto\@phone {
  top: auto;
}

.r-0,
.r-0\@phone {
  right: 0;
}

.r-0\.5,
.r-0\@phone {
  right: 0.25rem;
}

.r-1,
.r-1\@phone {
  right: 0.5rem;
}

.r-1\.5,
.r-1\.5\@phone {
  right: 0.75rem;
}

.r-2,
.r-2\@phone {
  right: 1rem;
}

.r-2\.5,
.r-2\.5\@phone {
  right: 1.25rem;
}

.r-3,
.r-3\@phone {
  right: 1.5rem;
}

.r-3\.5,
.r-3\.5\@phone {
  right: 1.75rem;
}

.r-4,
.r-4\@phone {
  right: 2rem;
}

.r-4\.5,
.r-4\.5\@phone {
  right: 2.25rem;
}

.r-5,
.r-5\@phone {
  right: 2.5rem;
}

.r-5\.5,
.r-5\.5\@phone {
  right: 2.75rem;
}

.r-6,
.r-6\@phone {
  right: 3rem;
}

.r-6\.5,
.r-6\.5\@phone {
  right: 3.25rem;
}

.r-7,
.r-7\@phone {
  right: 3.5;
}

.r-7\.5,
.r-7\.5\@phone {
  right: 3.75rem;
}

.r-8,
.r-8\@phone {
  right: 4rem;
}

.r-8\.5,
.r-8\.5\@phone {
  right: 4.25rem;
}

.r-9,
.r-9\@phone {
  right: 4.5rem;
}

.r-9\.5,
.r-9\.5\@phone {
  right: 4.75rem;
}

.r-10,
.r-10\@phone {
  right: 5rem;
}

.r-10\.5,
.r-10\.5\@phone {
  right: 5.25rem;
}

.r-11,
.r-11\@phone {
  right: 5.5rem;
}

.r-11\.5,
.r-11\.5\@phone {
  right: 5.75rem;
}

.r-12,
.r-12\@phone {
  right: 6rem;
}

.r-12\.5,
.r-12\.5\@phone {
  right: 6.25rem;
}

.r-13,
.r-13\@phone {
  right: 6.5rem;
}

.r-13\.5,
.r-13\.5\@phone {
  right: 6.75rem;
}

.r-14,
.r-14\@phone {
  right: 7rem;
}

.r-14\.5,
.r-14\.5\@phone {
  right: 7.25rem;
}

.r-15,
.r-15\@phone {
  right: 7.5rem;
}

.r-auto,
.r-auto\@phone {
  right: auto;
}

.b-0,
.b-0\@phone {
  bottom: 0;
}

.b-0\.5,
.b-0\@phone {
  bottom: 0.25rem;
}

.b-1,
.b-1\@phone {
  bottom: 0.5rem;
}

.b-1\.5,
.b-1\.5\@phone {
  bottom: 0.75rem;
}

.b-2,
.b-2\@phone {
  bottom: 1rem;
}

.b-2\.5,
.b-2\.5\@phone {
  bottom: 1.25rem;
}

.b-3,
.b-3\@phone {
  bottom: 1.5rem;
}

.b-3\.5,
.b-3\.5\@phone {
  bottom: 1.75rem;
}

.b-4,
.b-4\@phone {
  bottom: 2rem;
}

.b-4\.5,
.b-4\.5\@phone {
  bottom: 2.25rem;
}

.b-5,
.b-5\@phone {
  bottom: 2.5rem;
}

.b-5\.5,
.b-5\.5\@phone {
  bottom: 2.75rem;
}

.b-6,
.b-6\@phone {
  bottom: 3rem;
}

.b-6\.5,
.b-6\.5\@phone {
  bottom: 3.25rem;
}

.b-7,
.b-7\@phone {
  bottom: 3.5;
}

.b-7\.5,
.b-7\.5\@phone {
  bottom: 3.75rem;
}

.b-8,
.t-8\@phone {
  bottom: 4rem;
}

.b-8\.5,
.b-8\.5\@phone {
  bottom: 4.25rem;
}

.b-9,
.b-9\@phone {
  bottom: 4.5rem;
}

.b-9\.5,
.t-9\.5\@phone {
  bottom: 4.75rem;
}

.b-10,
.b-10\@phone {
  bottom: 5rem;
}

.b-10\.5,
.b-10\.5\@phone {
  bottom: 5.25rem;
}

.b-11,
.b-11\@phone {
  bottom: 5.5rem;
}

.b-11\.5,
.b-11\.5\@phone {
  bottom: 5.75rem;
}

.t-12,
.b-12\@phone {
  bottom: 6rem;
}

.b-12\.5,
.b-12\.5\@phone {
  bottom: 6.25rem;
}

.b-13,
.b-13\@phone {
  bottom: 6.5rem;
}

.t-13\.5,
.b-13\.5\@phone {
  bottom: 6.75rem;
}

.b-14,
.b-14\@phone {
  bottom: 7rem;
}

.b-14\.5,
.b-14\.5\@phone {
  bottom: 7.25rem;
}

.b-15,
.t-15\@phone {
  bottom: 7.5rem;
}

.b-auto,
.b-auto\@phone {
  bottom: auto;
}

.l-0,
.l-0\@phone {
  left: 0;
}

.l-0\.5,
.l-0\@phone {
  left: 0.25rem;
}

.l-1,
.l-1\@phone {
  left: 0.5rem;
}

.l-1\.5,
.l-1\.5\@phone {
  left: 0.75rem;
}

.l-2,
.l-2\@phone {
  left: 1rem;
}

.l-2\.5,
.l-2\.5\@phone {
  left: 1.25rem;
}

.l-3,
.l-3\@phone {
  left: 1.5rem;
}

.l-3\.5,
.l-3\.5\@phone {
  left: 1.75rem;
}

.l-4,
.l-4\@phone {
  left: 2rem;
}

.l-4\.5,
.l-4\.5\@phone {
  left: 2.25rem;
}

.l-5,
.l-5\@phone {
  left: 2.5rem;
}

.l-5\.5,
.l-5\.5\@phone {
  left: 2.75rem;
}

.l-6,
.l-6\@phone {
  left: 3rem;
}

.l-6\.5,
.l-6\.5\@phone {
  left: 3.25rem;
}

.l-7,
.l-7\@phone {
  left: 3.5;
}

.l-7\.5,
.l-7\.5\@phone {
  left: 3.75rem;
}

.l-8,
.l-8\@phone {
  left: 4rem;
}

.l-8\.5,
.l-8\.5\@phone {
  left: 4.25rem;
}

.l-9,
.l-9\@phone {
  left: 4.5rem;
}

.l-9\.5,
.l-9\.5\@phone {
  left: 4.75rem;
}

.l-10,
.l-10\@phone {
  left: 5rem;
}

.l-10\.5,
.l-10\.5\@phone {
  left: 5.25rem;
}

.l-11,
.l-11\@phone {
  left: 5.5rem;
}

.l-11\.5,
.l-11\.5\@phone {
  left: 5.75rem;
}

.l-12,
.l-12\@phone {
  left: 6rem;
}

.l-12\.5,
.l-12\.5\@phone {
  left: 6.25rem;
}

.l-13,
.l-13\@phone {
  left: 6.5rem;
}

.l-13\.5,
.l-13\.5\@phone {
  left: 6.75rem;
}

.l-14,
.l-14\@phone {
  left: 7rem;
}

.l-14\.5,
.l-14\.5\@phone {
  left: 7.25rem;
}

.l-15,
.l-15\@phone {
  left: 7.5rem;
}

.l-auto,
.l-auto\@phone {
  left: auto;
}

@media (max-width: $small-phone-max-width) {
  .t-0\@small-phone {
    top: 0;
  }

  .t-0\@small-phone {
    top: 0.25rem;
  }

  .t-1\@small-phone {
    top: 0.5rem;
  }

  .t-1\.5\@small-phone {
    top: 0.75rem;
  }

  .t-2\@small-phone {
    top: 1rem;
  }

  .t-2\.5\@small-phone {
    top: 1.25rem;
  }

  .t-3\@small-phone {
    top: 1.5rem;
  }

  .t-3\.5\@small-phone {
    top: 1.75rem;
  }

  .t-4\@small-phone {
    top: 2rem;
  }

  .t-4\.5\@small-phone {
    top: 2.25rem;
  }

  .t-5\@small-phone {
    top: 2.5rem;
  }

  .t-5\.5\@small-phone {
    top: 2.75rem;
  }

  .t-6\@small-phone {
    top: 3rem;
  }

  .t-6\.5\@small-phone {
    top: 3.25rem;
  }

  .t-7\@small-phone {
    top: 3.5;
  }

  .t-7\.5\@small-phone {
    top: 3.75rem;
  }

  .t-8\@small-phone {
    top: 4rem;
  }

  .t-8\.5\@small-phone {
    top: 4.25rem;
  }

  .t-9\@small-phone {
    top: 4.5rem;
  }

  .t-9\.5\@small-phone {
    top: 4.75rem;
  }

  .t-10\@small-phone {
    top: 5rem;
  }

  .t-10\.5\@small-phone {
    top: 5.25rem;
  }

  .t-11\@small-phone {
    top: 5.5rem;
  }

  .t-11\.5\@small-phone {
    top: 5.75rem;
  }

  .t-12\@small-phone {
    top: 6rem;
  }

  .t-12\.5\@small-phone {
    top: 6.25rem;
  }

  .t-13\@small-phone {
    top: 6.5rem;
  }

  .t-13\.5\@small-phone {
    top: 6.75rem;
  }

  .t-14\@small-phone {
    top: 7rem;
  }

  .t-14\.5\@small-phone {
    top: 7.25rem;
  }

  .t-15\@small-phone {
    top: 7.5rem;
  }

  .t-auto\@small-phone {
    top: auto;
  }

  .r-0\@small-phone {
    right: 0;
  }

  .r-0\@small-phone {
    right: 0.25rem;
  }

  .r-1\@small-phone {
    right: 0.5rem;
  }

  .r-1\.5\@small-phone {
    right: 0.75rem;
  }

  .r-2\@small-phone {
    right: 1rem;
  }

  .r-2\.5\@small-phone {
    right: 1.25rem;
  }

  .r-3\@small-phone {
    right: 1.5rem;
  }

  .r-3\.5\@small-phone {
    right: 1.75rem;
  }

  .r-4\@small-phone {
    right: 2rem;
  }

  .r-4\.5\@small-phone {
    right: 2.25rem;
  }

  .r-5\@small-phone {
    right: 2.5rem;
  }

  .r-5\.5\@small-phone {
    right: 2.75rem;
  }

  .r-6\@small-phone {
    right: 3rem;
  }

  .r-6\.5\@small-phone {
    right: 3.25rem;
  }

  .r-7\@small-phone {
    right: 3.5;
  }

  .r-7\.5\@small-phone {
    right: 3.75rem;
  }

  .r-8\@small-phone {
    right: 4rem;
  }

  .r-8\.5\@small-phone {
    right: 4.25rem;
  }

  .r-9\@small-phone {
    right: 4.5rem;
  }

  .r-9\.5\@small-phone {
    right: 4.75rem;
  }

  .r-10\@small-phone {
    right: 5rem;
  }

  .r-10\.5\@small-phone {
    right: 5.25rem;
  }

  .r-11\@small-phone {
    right: 5.5rem;
  }

  .r-11\.5\@small-phone {
    right: 5.75rem;
  }

  .r-12\@small-phone {
    right: 6rem;
  }

  .r-12\.5\@small-phone {
    right: 6.25rem;
  }

  .r-13\@small-phone {
    right: 6.5rem;
  }

  .r-13\.5\@small-phone {
    right: 6.75rem;
  }

  .r-14\@small-phone {
    right: 7rem;
  }

  .r-14\.5\@small-phone {
    right: 7.25rem;
  }

  .r-15\@small-phone {
    right: 7.5rem;
  }

  .r-auto\@small-phone {
    right: auto;
  }

  .b-0\@small-phone {
    bottom: 0;
  }

  .b-0\@small-phone {
    bottom: 0.25rem;
  }

  .b-1\@small-phone {
    bottom: 0.5rem;
  }

  .b-1\.5\@small-phone {
    bottom: 0.75rem;
  }

  .b-2\@small-phone {
    bottom: 1rem;
  }

  .b-2\.5\@small-phone {
    bottom: 1.25rem;
  }

  .b-3\@small-phone {
    bottom: 1.5rem;
  }

  .b-3\.5\@small-phone {
    bottom: 1.75rem;
  }

  .b-4\@small-phone {
    bottom: 2rem;
  }

  .b-4\.5\@small-phone {
    bottom: 2.25rem;
  }

  .b-5\@small-phone {
    bottom: 2.5rem;
  }

  .b-5\.5\@small-phone {
    bottom: 2.75rem;
  }

  .b-6\@small-phone {
    bottom: 3rem;
  }

  .b-6\.5\@small-phone {
    bottom: 3.25rem;
  }

  .b-7\@small-phone {
    bottom: 3.5;
  }

  .b-7\.5\@small-phone {
    bottom: 3.75rem;
  }

  .t-8\@small-phone {
    bottom: 4rem;
  }

  .b-8\.5\@small-phone {
    bottom: 4.25rem;
  }

  .b-9\@small-phone {
    bottom: 4.5rem;
  }

  .t-9\.5\@small-phone {
    bottom: 4.75rem;
  }

  .b-10\@small-phone {
    bottom: 5rem;
  }

  .b-10\.5\@small-phone {
    bottom: 5.25rem;
  }

  .b-11\@small-phone {
    bottom: 5.5rem;
  }

  .b-11\.5\@small-phone {
    bottom: 5.75rem;
  }

  .b-12\@small-phone {
    bottom: 6rem;
  }

  .b-12\.5\@small-phone {
    bottom: 6.25rem;
  }

  .b-13\@small-phone {
    bottom: 6.5rem;
  }

  .b-13\.5\@small-phone {
    bottom: 6.75rem;
  }

  .b-14\@small-phone {
    bottom: 7rem;
  }

  .b-14\.5\@small-phone {
    bottom: 7.25rem;
  }

  .t-15\@small-phone {
    bottom: 7.5rem;
  }

  .b-auto\@small-phone {
    bottom: auto;
  }

  .l-0\@small-phone {
    left: 0;
  }

  .l-0\@small-phone {
    left: 0.25rem;
  }

  .l-1\@small-phone {
    left: 0.5rem;
  }

  .l-1\.5\@small-phone {
    left: 0.75rem;
  }

  .l-2\@small-phone {
    left: 1rem;
  }

  .l-2\.5\@small-phone {
    left: 1.25rem;
  }

  .l-3\@small-phone {
    left: 1.5rem;
  }

  .l-3\.5\@small-phone {
    left: 1.75rem;
  }

  .l-4\@small-phone {
    left: 2rem;
  }

  .l-4\.5\@small-phone {
    left: 2.25rem;
  }

  .l-5\@small-phone {
    left: 2.5rem;
  }

  .l-5\.5\@small-phone {
    left: 2.75rem;
  }

  .l-6\@small-phone {
    left: 3rem;
  }

  .l-6\.5\@small-phone {
    left: 3.25rem;
  }

  .l-7\@small-phone {
    left: 3.5;
  }

  .l-7\.5\@small-phone {
    left: 3.75rem;
  }

  .l-8\@small-phone {
    left: 4rem;
  }

  .l-8\.5\@small-phone {
    left: 4.25rem;
  }

  .l-9\@small-phone {
    left: 4.5rem;
  }

  .l-9\.5\@small-phone {
    left: 4.75rem;
  }

  .l-10\@small-phone {
    left: 5rem;
  }

  .l-10\.5\@small-phone {
    left: 5.25rem;
  }

  .l-11\@small-phone {
    left: 5.5rem;
  }

  .l-11\.5\@small-phone {
    left: 5.75rem;
  }

  .l-12\@small-phone {
    left: 6rem;
  }

  .l-12\.5\@small-phone {
    left: 6.25rem;
  }

  .l-13\@small-phone {
    left: 6.5rem;
  }

  .l-13\.5\@small-phone {
    left: 6.75rem;
  }

  .l-14\@small-phone {
    left: 7rem;
  }

  .l-14\.5\@small-phone {
    left: 7.25rem;
  }

  .l-15\@small-phone {
    left: 7.5rem;
  }

  .l-auto\@small-phone {
    left: auto;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .t-0\@tablet {
    top: 0;
  }

  .t-0\@tablet {
    top: 0.25rem;
  }

  .t-1\@tablet {
    top: 0.5rem;
  }

  .t-1\.5\@tablet {
    top: 0.75rem;
  }

  .t-2\@tablet {
    top: 1rem;
  }

  .t-2\.5\@tablet {
    top: 1.25rem;
  }

  .t-3\@tablet {
    top: 1.5rem;
  }

  .t-3\.5\@tablet {
    top: 1.75rem;
  }

  .t-4\@tablet {
    top: 2rem;
  }

  .t-4\.5\@tablet {
    top: 2.25rem;
  }

  .t-5\@tablet {
    top: 2.5rem;
  }

  .t-5\.5\@tablet {
    top: 2.75rem;
  }

  .t-6\@tablet {
    top: 3rem;
  }

  .t-6\.5\@tablet {
    top: 3.25rem;
  }

  .t-7\@tablet {
    top: 3.5;
  }

  .t-7\.5\@tablet {
    top: 3.75rem;
  }

  .t-8\@tablet {
    top: 4rem;
  }

  .t-8\.5\@tablet {
    top: 4.25rem;
  }

  .t-9\@tablet {
    top: 4.5rem;
  }

  .t-9\.5\@tablet {
    top: 4.75rem;
  }

  .t-10\@tablet {
    top: 5rem;
  }

  .t-10\.5\@tablet {
    top: 5.25rem;
  }

  .t-11\@tablet {
    top: 5.5rem;
  }

  .t-11\.5\@tablet {
    top: 5.75rem;
  }

  .t-12\@tablet {
    top: 6rem;
  }

  .t-12\.5\@tablet {
    top: 6.25rem;
  }

  .t-13\@tablet {
    top: 6.5rem;
  }

  .t-13\.5\@tablet {
    top: 6.75rem;
  }

  .t-14\@tablet {
    top: 7rem;
  }

  .t-14\.5\@tablet {
    top: 7.25rem;
  }

  .t-15\@tablet {
    top: 7.5rem;
  }

  .t-auto\@tablet {
    top: auto;
  }

  .r-0\@tablet {
    right: 0;
  }

  .r-0\@tablet {
    right: 0.25rem;
  }

  .r-1\@tablet {
    right: 0.5rem;
  }

  .r-1\.5\@tablet {
    right: 0.75rem;
  }

  .r-2\@tablet {
    right: 1rem;
  }

  .r-2\.5\@tablet {
    right: 1.25rem;
  }

  .r-3\@tablet {
    right: 1.5rem;
  }

  .r-3\.5\@tablet {
    right: 1.75rem;
  }

  .r-4\@tablet {
    right: 2rem;
  }

  .r-4\.5\@tablet {
    right: 2.25rem;
  }

  .r-5\@tablet {
    right: 2.5rem;
  }

  .r-5\.5\@tablet {
    right: 2.75rem;
  }

  .r-6\@tablet {
    right: 3rem;
  }

  .r-6\.5\@tablet {
    right: 3.25rem;
  }

  .r-7\@tablet {
    right: 3.5;
  }

  .r-7\.5\@tablet {
    right: 3.75rem;
  }

  .r-8\@tablet {
    right: 4rem;
  }

  .r-8\.5\@tablet {
    right: 4.25rem;
  }

  .r-9\@tablet {
    right: 4.5rem;
  }

  .r-9\.5\@tablet {
    right: 4.75rem;
  }

  .r-10\@tablet {
    right: 5rem;
  }

  .r-10\.5\@tablet {
    right: 5.25rem;
  }

  .r-11\@tablet {
    right: 5.5rem;
  }

  .r-11\.5\@tablet {
    right: 5.75rem;
  }

  .r-12\@tablet {
    right: 6rem;
  }

  .r-12\.5\@tablet {
    right: 6.25rem;
  }

  .r-13\@tablet {
    right: 6.5rem;
  }

  .r-13\.5\@tablet {
    right: 6.75rem;
  }

  .r-14\@tablet {
    right: 7rem;
  }

  .r-14\.5\@tablet {
    right: 7.25rem;
  }

  .r-15\@tablet {
    right: 7.5rem;
  }

  .r-auto\@tablet {
    right: auto;
  }

  .b-0\@tablet {
    bottom: 0;
  }

  .b-0\@tablet {
    bottom: 0.25rem;
  }

  .b-1\@tablet {
    bottom: 0.5rem;
  }

  .b-1\.5\@tablet {
    bottom: 0.75rem;
  }

  .b-2\@tablet {
    bottom: 1rem;
  }

  .b-2\.5\@tablet {
    bottom: 1.25rem;
  }

  .b-3\@tablet {
    bottom: 1.5rem;
  }

  .b-3\.5\@tablet {
    bottom: 1.75rem;
  }

  .b-4\@tablet {
    bottom: 2rem;
  }

  .b-4\.5\@tablet {
    bottom: 2.25rem;
  }

  .b-5\@tablet {
    bottom: 2.5rem;
  }

  .b-5\.5\@tablet {
    bottom: 2.75rem;
  }

  .b-6\@tablet {
    bottom: 3rem;
  }

  .b-6\.5\@tablet {
    bottom: 3.25rem;
  }

  .b-7\@tablet {
    bottom: 3.5;
  }

  .b-7\.5\@tablet {
    bottom: 3.75rem;
  }

  .t-8\@tablet {
    bottom: 4rem;
  }

  .b-8\.5\@tablet {
    bottom: 4.25rem;
  }

  .b-9\@tablet {
    bottom: 4.5rem;
  }

  .t-9\.5\@tablet {
    bottom: 4.75rem;
  }

  .b-10\@tablet {
    bottom: 5rem;
  }

  .b-10\.5\@tablet {
    bottom: 5.25rem;
  }

  .b-11\@tablet {
    bottom: 5.5rem;
  }

  .b-11\.5\@tablet {
    bottom: 5.75rem;
  }

  .b-12\@tablet {
    bottom: 6rem;
  }

  .b-12\.5\@tablet {
    bottom: 6.25rem;
  }

  .b-13\@tablet {
    bottom: 6.5rem;
  }

  .b-13\.5\@tablet {
    bottom: 6.75rem;
  }

  .b-14\@tablet {
    bottom: 7rem;
  }

  .b-14\.5\@tablet {
    bottom: 7.25rem;
  }

  .t-15\@tablet {
    bottom: 7.5rem;
  }

  .b-auto\@tablet {
    bottom: auto;
  }

  .l-0\@tablet {
    left: 0;
  }

  .l-0\@tablet {
    left: 0.25rem;
  }

  .l-1\@tablet {
    left: 0.5rem;
  }

  .l-1\.5\@tablet {
    left: 0.75rem;
  }

  .l-2\@tablet {
    left: 1rem;
  }

  .l-2\.5\@tablet {
    left: 1.25rem;
  }

  .l-3\@tablet {
    left: 1.5rem;
  }

  .l-3\.5\@tablet {
    left: 1.75rem;
  }

  .l-4\@tablet {
    left: 2rem;
  }

  .l-4\.5\@tablet {
    left: 2.25rem;
  }

  .l-5\@tablet {
    left: 2.5rem;
  }

  .l-5\.5\@tablet {
    left: 2.75rem;
  }

  .l-6\@tablet {
    left: 3rem;
  }

  .l-6\.5\@tablet {
    left: 3.25rem;
  }

  .l-7\@tablet {
    left: 3.5;
  }

  .l-7\.5\@tablet {
    left: 3.75rem;
  }

  .l-8\@tablet {
    left: 4rem;
  }

  .l-8\.5\@tablet {
    left: 4.25rem;
  }

  .l-9\@tablet {
    left: 4.5rem;
  }

  .l-9\.5\@tablet {
    left: 4.75rem;
  }

  .l-10\@tablet {
    left: 5rem;
  }

  .l-10\.5\@tablet {
    left: 5.25rem;
  }

  .l-11\@tablet {
    left: 5.5rem;
  }

  .l-11\.5\@tablet {
    left: 5.75rem;
  }

  .l-12\@tablet {
    left: 6rem;
  }

  .l-12\.5\@tablet {
    left: 6.25rem;
  }

  .l-13\@tablet {
    left: 6.5rem;
  }

  .l-13\.5\@tablet {
    left: 6.75rem;
  }

  .l-14\@tablet {
    left: 7rem;
  }

  .l-14\.5\@tablet {
    left: 7.25rem;
  }

  .l-15\@tablet {
    left: 7.5rem;
  }

  .l-auto\@tablet {
    left: auto;
  }
}

@media (min-width: $laptop-min-width) {
  .t-0\@laptop {
    top: 0;
  }

  .t-0\@laptop {
    top: 0.25rem;
  }

  .t-1\@laptop {
    top: 0.5rem;
  }

  .t-1\.5\@laptop {
    top: 0.75rem;
  }

  .t-2\@laptop {
    top: 1rem;
  }

  .t-2\.5\@laptop {
    top: 1.25rem;
  }

  .t-3\@laptop {
    top: 1.5rem;
  }

  .t-3\.5\@laptop {
    top: 1.75rem;
  }

  .t-4\@laptop {
    top: 2rem;
  }

  .t-4\.5\@laptop {
    top: 2.25rem;
  }

  .t-5\@laptop {
    top: 2.5rem;
  }

  .t-5\.5\@laptop {
    top: 2.75rem;
  }

  .t-6\@laptop {
    top: 3rem;
  }

  .t-6\.5\@laptop {
    top: 3.25rem;
  }

  .t-7\@laptop {
    top: 3.5;
  }

  .t-7\.5\@laptop {
    top: 3.75rem;
  }

  .t-8\@laptop {
    top: 4rem;
  }

  .t-8\.5\@laptop {
    top: 4.25rem;
  }

  .t-9\@laptop {
    top: 4.5rem;
  }

  .t-9\.5\@laptop {
    top: 4.75rem;
  }

  .t-10\@laptop {
    top: 5rem;
  }

  .t-10\.5\@laptop {
    top: 5.25rem;
  }

  .t-11\@laptop {
    top: 5.5rem;
  }

  .t-11\.5\@laptop {
    top: 5.75rem;
  }

  .t-12\@laptop {
    top: 6rem;
  }

  .t-12\.5\@laptop {
    top: 6.25rem;
  }

  .t-13\@laptop {
    top: 6.5rem;
  }

  .t-13\.5\@laptop {
    top: 6.75rem;
  }

  .t-14\@laptop {
    top: 7rem;
  }

  .t-14\.5\@laptop {
    top: 7.25rem;
  }

  .t-15\@laptop {
    top: 7.5rem;
  }

  .t-auto\@laptop {
    top: auto;
  }

  .r-0\@laptop {
    right: 0;
  }

  .r-0\@laptop {
    right: 0.25rem;
  }

  .r-1\@laptop {
    right: 0.5rem;
  }

  .r-1\.5\@laptop {
    right: 0.75rem;
  }

  .r-2\@laptop {
    right: 1rem;
  }

  .r-2\.5\@laptop {
    right: 1.25rem;
  }

  .r-3\@laptop {
    right: 1.5rem;
  }

  .r-3\.5\@laptop {
    right: 1.75rem;
  }

  .r-4\@laptop {
    right: 2rem;
  }

  .r-4\.5\@laptop {
    right: 2.25rem;
  }

  .r-5\@laptop {
    right: 2.5rem;
  }

  .r-5\.5\@laptop {
    right: 2.75rem;
  }

  .r-6\@laptop {
    right: 3rem;
  }

  .r-6\.5\@laptop {
    right: 3.25rem;
  }

  .r-7\@laptop {
    right: 3.5;
  }

  .r-7\.5\@laptop {
    right: 3.75rem;
  }

  .r-8\@laptop {
    right: 4rem;
  }

  .r-8\.5\@laptop {
    right: 4.25rem;
  }

  .r-9\@laptop {
    right: 4.5rem;
  }

  .r-9\.5\@laptop {
    right: 4.75rem;
  }

  .r-10\@laptop {
    right: 5rem;
  }

  .r-10\.5\@laptop {
    right: 5.25rem;
  }

  .r-11\@laptop {
    right: 5.5rem;
  }

  .r-11\.5\@laptop {
    right: 5.75rem;
  }

  .r-12\@laptop {
    right: 6rem;
  }

  .r-12\.5\@laptop {
    right: 6.25rem;
  }

  .r-13\@laptop {
    right: 6.5rem;
  }

  .r-13\.5\@laptop {
    right: 6.75rem;
  }

  .r-14\@laptop {
    right: 7rem;
  }

  .r-14\.5\@laptop {
    right: 7.25rem;
  }

  .r-15\@laptop {
    right: 7.5rem;
  }

  .r-auto\@laptop {
    right: auto;
  }

  .b-0\@laptop {
    bottom: 0;
  }

  .b-0\@laptop {
    bottom: 0.25rem;
  }

  .b-1\@laptop {
    bottom: 0.5rem;
  }

  .b-1\.5\@laptop {
    bottom: 0.75rem;
  }

  .b-2\@laptop {
    bottom: 1rem;
  }

  .b-2\.5\@laptop {
    bottom: 1.25rem;
  }

  .b-3\@laptop {
    bottom: 1.5rem;
  }

  .b-3\.5\@laptop {
    bottom: 1.75rem;
  }

  .b-4\@laptop {
    bottom: 2rem;
  }

  .b-4\.5\@laptop {
    bottom: 2.25rem;
  }

  .b-5\@laptop {
    bottom: 2.5rem;
  }

  .b-5\.5\@laptop {
    bottom: 2.75rem;
  }

  .b-6\@laptop {
    bottom: 3rem;
  }

  .b-6\.5\@laptop {
    bottom: 3.25rem;
  }

  .b-7\@laptop {
    bottom: 3.5;
  }

  .b-7\.5\@laptop {
    bottom: 3.75rem;
  }

  .t-8\@laptop {
    bottom: 4rem;
  }

  .b-8\.5\@laptop {
    bottom: 4.25rem;
  }

  .b-9\@laptop {
    bottom: 4.5rem;
  }

  .t-9\.5\@laptop {
    bottom: 4.75rem;
  }

  .b-10\@laptop {
    bottom: 5rem;
  }

  .b-10\.5\@laptop {
    bottom: 5.25rem;
  }

  .b-11\@laptop {
    bottom: 5.5rem;
  }

  .b-11\.5\@laptop {
    bottom: 5.75rem;
  }

  .b-12\@laptop {
    bottom: 6rem;
  }

  .b-12\.5\@laptop {
    bottom: 6.25rem;
  }

  .b-13\@laptop {
    bottom: 6.5rem;
  }

  .b-13\.5\@laptop {
    bottom: 6.75rem;
  }

  .b-14\@laptop {
    bottom: 7rem;
  }

  .b-14\.5\@laptop {
    bottom: 7.25rem;
  }

  .t-15\@laptop {
    bottom: 7.5rem;
  }

  .b-auto\@laptop {
    bottom: auto;
  }

  .l-0\@laptop {
    left: 0;
  }

  .l-0\@laptop {
    left: 0.25rem;
  }

  .l-1\@laptop {
    left: 0.5rem;
  }

  .l-1\.5\@laptop {
    left: 0.75rem;
  }

  .l-2\@laptop {
    left: 1rem;
  }

  .l-2\.5\@laptop {
    left: 1.25rem;
  }

  .l-3\@laptop {
    left: 1.5rem;
  }

  .l-3\.5\@laptop {
    left: 1.75rem;
  }

  .l-4\@laptop {
    left: 2rem;
  }

  .l-4\.5\@laptop {
    left: 2.25rem;
  }

  .l-5\@laptop {
    left: 2.5rem;
  }

  .l-5\.5\@laptop {
    left: 2.75rem;
  }

  .l-6\@laptop {
    left: 3rem;
  }

  .l-6\.5\@laptop {
    left: 3.25rem;
  }

  .l-7\@laptop {
    left: 3.5;
  }

  .l-7\.5\@laptop {
    left: 3.75rem;
  }

  .l-8\@laptop {
    left: 4rem;
  }

  .l-8\.5\@laptop {
    left: 4.25rem;
  }

  .l-9\@laptop {
    left: 4.5rem;
  }

  .l-9\.5\@laptop {
    left: 4.75rem;
  }

  .l-10\@laptop {
    left: 5rem;
  }

  .l-10\.5\@laptop {
    left: 5.25rem;
  }

  .l-11\@laptop {
    left: 5.5rem;
  }

  .l-11\.5\@laptop {
    left: 5.75rem;
  }

  .l-12\@laptop {
    left: 6rem;
  }

  .l-12\.5\@laptop {
    left: 6.25rem;
  }

  .l-13\@laptop {
    left: 6.5rem;
  }

  .l-13\.5\@laptop {
    left: 6.75rem;
  }

  .l-14\@laptop {
    left: 7rem;
  }

  .l-14\.5\@laptop {
    left: 7.25rem;
  }

  .l-15\@laptop {
    left: 7.5rem;
  }

  .l-auto\@laptop {
    left: auto;
  }
}
