.transition-ease {
  transition: all ease 500ms;
}

.transition-ease-in {
  transition: all ease-in 500ms;
}

.transition-ease-in-out {
  transition: all ease-in-out 500ms;
}

.transition-ease-out {
  transition: all ease-out 500ms;
}

.transition-linear {
  transition: all linear 500ms;
}

.transition-ease-0\.5 {
  transition: all ease 500ms;
}

.transition-ease-in-0\.5 {
  transition: all ease-in 500ms;
}

.transition-ease-in-out-0\.5 {
  transition: all ease-in-out 500ms;
}

.transition-ease-out-0\.5 {
  transition: all ease-out 500ms;
}

.transition-linear-0\.5 {
  transition: all linear 500ms;
}

.transition-ease-1 {
  transition: all ease 1000ms;
}

.transition-ease-in-1 {
  transition: all ease-in 1000ms;
}

.transition-ease-in-out-1 {
  transition: all ease-in-out 1000ms;
}

.transition-ease-out-1 {
  transition: all ease-out 1000ms;
}

.transition-linear-1 {
  transition: all linear 1000ms;
}

.transition-ease-1\.5 {
  transition: all ease 1500ms;
}

.transition-ease-in-1\.5 {
  transition: all ease-in 1500ms;
}

.transition-ease-in-out-1\.5 {
  transition: all ease-in-out 1500ms;
}

.transition-ease-out-1\.5 {
  transition: all ease-out 1500ms;
}

.transition-linear-1\.5 {
  transition: all linear 1500ms;
}

.transition-ease-2 {
  transition: all ease 2000ms;
}

.transition-ease-in-2 {
  transition: all ease-in 2000ms;
}

.transition-ease-in-out-2 {
  transition: all ease-in-out 2000ms;
}

.transition-ease-out-2 {
  transition: all ease-out 2000ms;
}

.transition-linear-2 {
  transition: all linear 2000ms;
}

.transition-ease-2\.5 {
  transition: all ease 2500ms;
}

.transition-ease-in-2\.5 {
  transition: all ease-in 2500ms;
}

.transition-ease-in-out-2\.5 {
  transition: all ease-in-out 2500ms;
}

.transition-ease-out-2\.5 {
  transition: all ease-out 2500ms;
}

.transition-linear-2\.5 {
  transition: all linear 2500ms;
}

.transition-ease-3 {
  transition: all ease 3000ms;
}

.transition-ease-in-3 {
  transition: all ease-in 3000ms;
}

.transition-ease-in-out-3 {
  transition: all ease-in-out 3000ms;
}

.transition-ease-out-3 {
  transition: all ease-out 3000ms;
}

.transition-linear-3 {
  transition: all linear 3000ms;
}

.transition-ease-3\.5 {
  transition: all ease 3500ms;
}

.transition-ease-in-3\.5 {
  transition: all ease-in 3500ms;
}

.transition-ease-in-out-3\.5 {
  transition: all ease-in-out 3500ms;
}

.transition-ease-out-3\.5 {
  transition: all ease-out 3500ms;
}

.transition-linear-3\.5 {
  transition: all linear 3500ms;
}

.transition-ease-4 {
  transition: all ease 4000ms;
}

.transition-ease-in-4 {
  transition: all ease-in 4000ms;
}

.transition-ease-in-out-4 {
  transition: all ease-in-out 4000ms;
}

.transition-ease-out-4 {
  transition: all ease-out 4000ms;
}

.transition-linear-4 {
  transition: all linear 4000ms;
}

.transition-ease-4\.5 {
  transition: all ease 4500ms;
}

.transition-ease-in-4\.5 {
  transition: all ease-in 4500ms;
}

.transition-ease-in-out-4\.5 {
  transition: all ease-in-out 4500ms;
}

.transition-ease-out-4\.5 {
  transition: all ease-out 4500ms;
}

.transition-linear-4\.5 {
  transition: all linear 4500ms;
}

.transition-ease-5 {
  transition: all ease 5000ms;
}

.transition-ease-in-5 {
  transition: all ease-in 5000ms;
}

.transition-ease-in-out-5 {
  transition: all ease-in-out 5000ms;
}

.transition-ease-out-5 {
  transition: all ease-out 5000ms;
}

.transition-linear-5 {
  transition: all linear 5000ms;
}
