.w-0-on-phone {
  width: 0;
}

.w-0\.5,
.w-0\.5-on-phone {
  width: 0.25rem;
}

.w-1,
.w-1-on-phone {
  width: 0.5rem;
}

.w-1\.5,
.w-1\.5-on-phone {
  width: 0.75rem;
}

.w-2,
.w-2-on-phone {
  width: 1rem;
}

.w-2\.5,
.w-2\.5-on-phone {
  width: 1.25rem;
}

.w-3,
.w-3-on-phone {
  width: 1.5rem;
}

.w-3\.5,
.w-3\.5-on-phone {
  width: 1.75rem;
}

.w-4,
.w-4-on-phone {
  width: 2rem;
}

.w-4\.5,
.w-4\.5-on-phone {
  width: 2.25rem;
}

.w-5,
.w-5-on-phone {
  width: 2.5rem;
}

.w-5\.5,
.w-5\.5-on-phone {
  width: 2.75rem;
}

.w-6,
.w-6-on-phone {
  width: 3rem;
}

.w-6\.5,
.w-6\.5-on-phone {
  width: 3.25rem;
}

.w-7,
.w-7-on-phone {
  width: 3.5rem;
}

.w-7\.5,
.w-7\.5-on-phone {
  width: 3.75rem;
}

.w-8,
.w-8-on-phone {
  width: 4rem;
}

.w-8\.5,
.w-8\.5-on-phone {
  width: 4.25rem;
}

.w-9,
.w-9-on-phone {
  width: 4.5rem;
}

.w-9\.5,
.w-9\.5-on-phone {
  width: 4.75rem;
}

.w-10,
.w-10-on-phone {
  width: 5rem;
}

.w-10\.5,
.w-10\.5-on-phone {
  width: 5.25rem;
}

.w-11,
.w-11-on-phone {
  width: 5.5rem;
}

.w-11\.5,
.w-11\.5-on-phone {
  width: 5.75rem;
}

.w-12,
.w-12-on-phone {
  width: 6rem;
}

.w-12\.5,
.w-12\.5-on-phone {
  width: 6.25rem;
}

.w-13,
.w-13-on-phone {
  width: 6.5rem;
}

.w-13\.5,
.w-13\.5-on-phone {
  width: 6.75rem;
}

.w-14,
.w-14-on-phone {
  width: 7rem;
}

.w-14\.5,
.w-14\.5-on-phone {
  width: 7.25rem;
}

.w-15,
.w-15-on-phone {
  width: 7.5rem;
}

.w-10\%,
.w-10\%-on-phone {
  width: 10%;
}

.w-20\%,
.w-20\%-on-phone {
  width: 20%;
}

.w-30\%,
.w-30\%-on-phone {
  width: 30%;
}

.w-40\%,
.w-40\%-on-phone {
  width: 40%;
}

.w-50\%,
.w-50\%-on-phone {
  width: 50%;
}

.w-60\%,
.w-60\%-on-phone {
  width: 60%;
}

.w-70\%,
.w-70\%-on-phone {
  width: 70%;
}

.w-80\%,
.w-80\%-on-phone {
  width: 80%;
}

.w-90\%,
.w-90\%-on-phone {
  width: 90%;
}

.w-100\%,
.w-100\%-on-phone {
  width: 100%;
}

.w-25vw,
.w-25vw-on-phone {
  width: 25vw;
}

.w-50vw,
.w-50vw-on-phone {
  width: 50vw;
}

.w-75vw,
.w-75vw-on-phone {
  width: 75vw;
}

.w-100vw,
.w-100vw-on-phone {
  width: 100vw;
}

.w-125vw,
.w-125vw-on-phone {
  width: 125vw;
}

.w-150vw,
.w-150vw-on-phone {
  width: 150vw;
}

@media (max-width: $small-phone-max-width) {
  .w-0-on-small-phone {
    width: 0;
  }

  .w-0\.5-on-small-phone {
    width: 0.25rem;
  }

  .w-1-on-small-phone {
    width: 0.5rem;
  }

  .w-1\.5-on-small-phone {
    width: 0.75rem;
  }

  .w-2-on-small-phone {
    width: 1rem;
  }

  .w-2\.5-on-small-phone {
    width: 1.25rem;
  }

  .w-3-on-small-phone {
    width: 1.5rem;
  }

  .w-3\.5-on-small-phone {
    width: 1.75rem;
  }

  .w-4-on-small-phone {
    width: 2rem;
  }

  .w-4\.5-on-small-phone {
    width: 2.25rem;
  }

  .w-5-on-small-phone {
    width: 2.5rem;
  }

  .w-5\.5-on-small-phone {
    width: 2.75rem;
  }

  .w-6-on-small-phone {
    width: 3rem;
  }

  .w-6\.5-on-small-phone {
    width: 3.25rem;
  }

  .w-7-on-small-phone {
    width: 3.5rem;
  }

  .w-7\.5-on-small-phone {
    width: 3.75rem;
  }

  .w-8-on-small-phone {
    width: 4rem;
  }

  .w-8\.5-on-small-phone {
    width: 4.25rem;
  }

  .w-9-on-small-phone {
    width: 4.5rem;
  }

  .w-9\.5-on-small-phone {
    width: 4.75rem;
  }

  .w-10-on-small-phone {
    width: 5rem;
  }

  .w-10\.5-on-small-phone {
    width: 5.25rem;
  }

  .w-11-on-small-phone {
    width: 5.5rem;
  }

  .w-11\.5-on-small-phone {
    width: 5.75rem;
  }

  .w-12-on-small-phone {
    width: 6rem;
  }

  .w-12\.5-on-small-phone {
    width: 6.25rem;
  }

  .w-13-on-small-phone {
    width: 6.5rem;
  }

  .w-13\.5-on-small-phone {
    width: 6.75rem;
  }

  .w-14-on-small-phone {
    width: 7rem;
  }

  .w-14\.5-on-small-phone {
    width: 7.25rem;
  }

  .w-15-on-small-phone {
    width: 7.5rem;
  }

  .w-10\%-on-small-phone {
    width: 10%;
  }

  .w-20\%-on-small-phone {
    width: 20%;
  }

  .w-30\%-on-small-phone {
    width: 30%;
  }

  .w-40\%-on-small-phone {
    width: 40%;
  }

  .w-50\%-on-small-phone {
    width: 50%;
  }

  .w-60\%-on-small-phone {
    width: 60%;
  }

  .w-70\%-on-small-phone {
    width: 70%;
  }

  .w-80\%-on-small-phone {
    width: 80%;
  }

  .w-90\%-on-small-phone {
    width: 90%;
  }

  .w-100\%-on-small-phone {
    width: 100%;
  }

  .w-25vw-on-small-phone {
    width: 25vw;
  }

  .w-50vw-on-small-phone {
    width: 50vw;
  }

  .w-75vw-on-small-phone {
    width: 75vw;
  }

  .w-100vw-on-small-phone {
    width: 100vw;
  }

  .w-125vw-on-small-phone {
    width: 125vw;
  }

  .w-150vw-on-small-phone {
    width: 150vw;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .w-0-on-tablet {
    width: 0;
  }

  .w-0\.5-on-tablet {
    width: 0.25rem;
  }

  .w-1-on-tablet {
    width: 0.5rem;
  }

  .w-1\.5-on-tablet {
    width: 0.75rem;
  }

  .w-2-on-tablet {
    width: 1rem;
  }

  .w-2\.5-on-tablet {
    width: 1.25rem;
  }

  .w-3-on-tablet {
    width: 1.5rem;
  }

  .w-3\.5-on-tablet {
    width: 1.75rem;
  }

  .w-4-on-tablet {
    width: 2rem;
  }

  .w-4\.5-on-tablet {
    width: 2.25rem;
  }

  .w-5-on-tablet {
    width: 2.5rem;
  }

  .w-5\.5-on-tablet {
    width: 2.75rem;
  }

  .w-6-on-tablet {
    width: 3rem;
  }

  .w-6\.5-on-tablet {
    width: 3.25rem;
  }

  .w-7-on-tablet {
    width: 3.5rem;
  }

  .w-7\.5-on-tablet {
    width: 3.75rem;
  }

  .w-8-on-tablet {
    width: 4rem;
  }

  .w-8\.5-on-tablet {
    width: 4.25rem;
  }

  .w-9-on-tablet {
    width: 4.5rem;
  }

  .w-9\.5-on-tablet {
    width: 4.75rem;
  }

  .w-10-on-tablet {
    width: 5rem;
  }

  .w-10\.5-on-tablet {
    width: 5.25rem;
  }

  .w-11-on-tablet {
    width: 5.5rem;
  }

  .w-11\.5-on-tablet {
    width: 5.75rem;
  }

  .w-12-on-tablet {
    width: 6rem;
  }

  .w-12\.5-on-tablet {
    width: 6.25rem;
  }

  .w-13-on-tablet {
    width: 6.5rem;
  }

  .w-13\.5-on-tablet {
    width: 6.75rem;
  }

  .w-14-on-tablet {
    width: 7rem;
  }

  .w-14\.5-on-tablet {
    width: 7.25rem;
  }

  .w-15-on-tablet {
    width: 7.5rem;
  }

  .w-10\%-on-tablet {
    width: 10%;
  }

  .w-20\%-on-tablet {
    width: 20%;
  }

  .w-30\%-on-tablet {
    width: 30%;
  }

  .w-40\%-on-tablet {
    width: 40%;
  }

  .w-50\%-on-tablet {
    width: 50%;
  }

  .w-60\%-on-tablet {
    width: 60%;
  }

  .w-70\%-on-tablet {
    width: 70%;
  }

  .w-80\%-on-tablet {
    width: 80%;
  }

  .w-90\%-on-tablet {
    width: 90%;
  }

  .w-100\%-on-tablet {
    width: 100%;
  }

  .w-25vw-on-tablet {
    width: 25vw;
  }

  .w-50vw-on-tablet {
    width: 50vw;
  }

  .w-75vw-on-tablet {
    width: 75vw;
  }

  .w-100vw-on-tablet {
    width: 100vw;
  }

  .w-125vw-on-tablet {
    width: 125vw;
  }

  .w-150vw-on-tablet {
    width: 150vw;
  }
}

@media (min-width: $laptop_min_width) {
  .w-0-on-laptop {
    width: 0;
  }

  .w-0\.5-on-laptop {
    width: 0.25rem;
  }

  .w-1-on-laptop {
    width: 0.5rem;
  }

  .w-1\.5-on-laptop {
    width: 0.75rem;
  }

  .w-2-on-laptop {
    width: 1rem;
  }

  .w-2\.5-on-laptop {
    width: 1.25rem;
  }

  .w-3-on-laptop {
    width: 1.5rem;
  }

  .w-3\.5-on-laptop {
    width: 1.75rem;
  }

  .w-4-on-laptop {
    width: 2rem;
  }

  .w-4\.5-on-laptop {
    width: 2.25rem;
  }

  .w-5-on-laptop {
    width: 2.5rem;
  }

  .w-5\.5-on-laptop {
    width: 2.75rem;
  }

  .w-6-on-laptop {
    width: 3rem;
  }

  .w-6\.5-on-laptop {
    width: 3.25rem;
  }

  .w-7-on-laptop {
    width: 3.5rem;
  }

  .w-7\.5-on-laptop {
    width: 3.75rem;
  }

  .w-8-on-laptop {
    width: 4rem;
  }

  .w-8\.5-on-laptop {
    width: 4.25rem;
  }

  .w-9-on-laptop {
    width: 4.5rem;
  }

  .w-9\.5-on-laptop {
    width: 4.75rem;
  }

  .w-10-on-laptop {
    width: 5rem;
  }

  .w-10\.5-on-laptop {
    width: 5.25rem;
  }

  .w-11-on-laptop {
    width: 5.5rem;
  }

  .w-11\.5-on-laptop {
    width: 5.75rem;
  }

  .w-12-on-laptop {
    width: 6rem;
  }

  .w-12\.5-on-laptop {
    width: 6.25rem;
  }

  .w-13-on-laptop {
    width: 6.5rem;
  }

  .w-13\.5-on-laptop {
    width: 6.75rem;
  }

  .w-14-on-laptop {
    width: 7rem;
  }

  .w-14\.5-on-laptop {
    width: 7.25rem;
  }

  .w-15-on-laptop {
    width: 7.5rem;
  }

  .w-10\%-on-laptop {
    width: 10%;
  }

  .w-20\%-on-laptop {
    width: 20%;
  }

  .w-30\%-on-laptop {
    width: 30%;
  }

  .w-40\%-on-laptop {
    width: 40%;
  }

  .w-50\%-on-laptop {
    width: 50%;
  }

  .w-60\%-on-laptop {
    width: 60%;
  }

  .w-70\%-on-laptop {
    width: 70%;
  }

  .w-80\%-on-laptop {
    width: 80%;
  }

  .w-90\%-on-laptop {
    width: 90%;
  }

  .w-100\%-on-laptop {
    width: 100%;
  }

  .w-25vw-on-laptop {
    width: 25vw;
  }

  .w-50vw-on-laptop {
    width: 50vw;
  }

  .w-75vw-on-laptop {
    width: 75vw;
  }

  .w-100vw-on-laptop {
    width: 100vw;
  }

  .w-125vw-on-laptop {
    width: 125vw;
  }

  .w-150vw-on-laptop {
    width: 150vw;
  }
}
