.z-index-1,
.z-index-1\@phone {
  z-index: 10;
}

.z-index-2,
.z-index-2\@phone {
  z-index: 100;
}

.z-index-3,
.z-index-3\@phone {
  z-index: 500;
}

.z-index-4,
.z-index-4\@phone {
  z-index: 1000;
}

.z-index-5,
.z-index-5\@phone {
  z-index: 1500;
}

@media (max-width: $small-phone-max-width) {
	.z-index-1\@small-phone {
	  z-index: 10;
	}

	.z-index-2\@small-phone {
	  z-index: 100;
	}

	.z-index-3\@small-phone {
	  z-index: 500;
	}

	.z-index-4\@small-phone {
	  z-index: 1000;
	}

	.z-index-5\@small-phone {
	  z-index: 1500;
	}
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
	.z-index-1\@tablet {
	  z-index: 10;
	}

	.z-index-2\@tablet {
	  z-index: 100;
	}

	.z-index-3\@tablet {
	  z-index: 500;
	}

	.z-index-4\@tablet {
	  z-index: 1000;
	}

	.z-index-5\@tablet {
	  z-index: 1500;
	}
}

@media (min-width: $laptop-min-width) {
	.z-index-1\@laptop {
	  z-index: 10;
	}

	.z-index-2\@laptop {
	  z-index: 100;
	}

	.z-index-3\@laptop {
	  z-index: 500;
	}

	.z-index-4\@laptop {
	  z-index: 1000;
	}

	.z-index-5\@laptop {
	  z-index: 1500;
	}
}